[2015-08-15 11:07] kchizi opened #1 "Database connection error (code #2002) after installation"
Installation completed successfully using docker container and connecting to a mysql container but getting Database connection error (code #2002) while trying to access the dashboard

[2015-08-15 14:29] mbabker commented on #1
Was there a specific action that caused this?  I just ran through the install and added a lead without losing the database connection.  Did the MySQL server go offline at any point?

[2015-09-11 18:14] that0n3guy opened #2 "Documentation on how this should be used with volumes"
We use docker for all our site deployments.  We decided to not use any of these docker images but swiped some of the php scripts for setting up config files.

Some things I noticed that should be documented:
- This image is not for stateless use.
  - Setting your environment variables like `MAUTIC_DB_HOST` is kind of pointless because if you redeploy the container, your local.php will be lost and

[2015-09-22 15:25] mbabker commented on #2
Sorry, been busy as of late, but trying to comment on some stuff.

First, yes, the default for the image build is that the entire thing is stateless.  Building it this way actually makes it usable as both a temporary testing box and a production system (with additional configuration).  This is consistent with how the official Docker images for the CMS' (see [WordPress](https://github.com/docker-li

[2015-09-22 15:26] mbabker commented on #1
Closing due to no response.

[2015-09-22 15:26] #1 closed

[2015-09-23 14:31] that0n3guy commented on #2
I see the logic now.  Thanks.  I'm not a fan of the way most people do their wordpress/drupal dockerfiles.  I don't think the whole app should be located in a volume since 99% of it is just app code and doesn't change, except for updates (also, drupal should be installed with make files, but thats a diff topic).

So I guess my suggestions above are only relevant if you don't use `/var/www/html` as

[2015-09-23 14:58] mbabker commented on #2
You could make an argument going both ways on the volume configuration.  If you did volumes for only user content, in the case of Mautic we'd need volumes for the configuration, uploads, and plugins at a minimum (that's also assuming you're OK with stuff like the cache and logs not persisting, the latter might be questionable depending on what content is there).  With the CMS' it just makes more s

[2015-09-23 15:21] that0n3guy commented on #2
Yup.  Thats what I was thinking.  Plugins probably wouldn't need to persist either since they could be added by extending this dockerfile, or via env variable (like a link to the git repo, zip, etc...), or other method...   Also, email themes would be the same way...

[2015-12-10 23:04] chamunks commented on #2
+1
This definitely needs documented.  Volumes not only for the Mautic app itself but also the Database would be ideal.  It appears that the docker-compose.yml suggested in the README.md doesn't function out of the box.

[2015-12-10 23:30] chamunks opened #3 "Default docker-compose.yml example dies after short while."
## Logs

[mautic_mautic_1 log](https://gist.github.com/chamunks/0884bed6df60168f76c8)
[mautic_mauticdb_1 log](https://gist.github.com/chamunks/e020ed62def56ef15d3d)
## docker-compose.yml

[code]
## Error given in web browser.

[code]

[2015-12-29 17:01] ahansson89 opened #4 "Setup cron jobs"
Can we add cron jobs for smart lists and other standard Mautic cron jobs for this image? Alternatively we could make an example of how to link a container managing cron jobs like the Tutum cron image: https://github.com/sillelien/tutum-cron

Let me know what you think and I can make a PR to the documentation.

[2015-12-29 17:04] ahansson89 commented on #4
Ideally I think it should be put in an environment variable

[2016-01-15 02:08] ahansson89 opened #5 ""The PHP IMAP extension is required in order to enable monitored email features.""
It comes up with a notice that we need the PHP IMAP extension in order to enable monitored emails. Can we add that to this image?

[2016-01-15 02:41] #5 closed

[2016-02-08 10:38] tanzaho commented on #4
I think this could indeed be a great addition to the container

[2016-03-05 09:14] wittwerch commented on #2
I totally agree with @that0n3guy. The way most Dockerfiles are made for Drupal/Wordpress is pretty bad and we should rather stick to the Docker best practices.
In my opinion there are a few design problems in Mautic that makes it impossible today to run it in production using Docker. And by running in production in mean a stateless Docker container for Mautic that can be relocated, restarted, rede

[2016-03-06 05:38] dinchamion opened #7 "Container & SSL"
Hey,

I can run Mautic with SSL with an nginx-proxy, but I can't seem to figure out how to set up ssl for the container itself.

Without it, forms and such are still generated as http, and while the js is working through https, the generated connection is reported as insecure and throws errors in the browser console.

[2016-03-23 04:52] ndarilek commented on #4
A simpler solution might be something like:

[code]

Disclaimer: I'm terrible at bash scripting.

Granted it doesn't handle failures well, but you don't really have many options for handling failures in containers other than complaining loudly and hoping someone is watching logs.

If there's interest in this route then I can submit a PR.

[2016-04-21 09:46] pimuzzo opened #10 "Password field isn't prefilled during installer"
During installer at the page:
`http://dockerhost/installer/step/1`
The password field isn't prefilled.

[2016-08-03 23:56] ahansson89 opened #13 "Hook up to Redis"
I read on the forums that Mautic can be hooked up to Redis - let's make this container be able to hook up easily to a Redis container.

Any thoughts?

[2016-08-15 04:49] bobcolner opened #14 "dockerfile not working with MAUTIC_VERSION 2.1.0"
We have detected 1 major problems. You must fix them before continuing:

The /var/www/html/app/logs directory must be writable. Change the permissions of the /var/www/html/app/logs directory so that the web server can write into it.

--after build a new container with dockerfile updated for MAUTIC_VERSION 2.1.0

any ideas?

[2016-09-16 10:34] grzana12 opened #15 "Missing ZipArchive class"
I couldn't change language in error logs line:

In dockerfile sholud be one more PHP ext installed:
`docker-php-ext-install zip`

[2017-01-12 12:27] jmeyo commented on #7
I stumble upon the same problem, as mautic is based on symfony, you need to configure trusted proxies.
I didn't found where to set it in the mautic webui, so I just added it in my `app/config/local.php` file.

    $parameters = array(
      'db_driver' => 'pdo_mysql',
      # ...

      'trusted_proxies'=>array('172.17.0.0/8')
    );

[2017-01-16 16:45] that0n3guy commented on #2
I know mautic has been updated a lot since this was created.   Has anything changed in regards to this issue?

[2017-01-20 10:58] optimum-web commented on #4
Another approach setup cron on a host machine and put something like this
*/5 * * * * user  docker exec mautic_container_1 app/console mautic:segments:rebuild --env=prod
*/5 * * * * user  docker exec mautic_container_1 app/console mautic:campaigns:rebuild --env=prod
...

[2017-01-20 12:46] RCheesley commented on #7
Thanks for this @jmeyo - I think we were having the same problem using our own docker image regarding SSL behind a proxy, so this may well have given a bit of a head start!  Will report back if it fixes the problems we're seeing!

[2017-01-22 00:51] mingfang commented on #2
Ideally I would like to bind mount one directory to store all the runtime settings.
e.g.
[code]
Did I miss anything?
I would then simply bind mount app/local for each installation.

[2017-01-22 14:11] mingfang commented on #2
If anyone is interested my Docker image is here https://github.com/mingfang/docker-mautic.git
I'm using paths_local.php to change the location of local.php.
The rest of the directories have be manually configured by the user to point to the "local" subtree above.  I tried using parameters_local.php to override it but that has it's own problems so I gave up on it.

[2017-03-14 07:51] Gregy commented on #15
Thank you for the bug report. Sorry it took so long. Zip extension is included in the latest container.

[2017-03-14 07:51] #15 closed

[2017-03-14 07:52] Gregy commented on #14
Thank you for the report. Sorry it took so long. This issue is fixed in the latest container.

[2017-03-14 07:52] #14 closed

[2017-03-14 07:53] Gregy commented on #4
Thank you for the report. Sorry it took so long. Latest container includes cron, please give it a try.

[2017-03-14 07:53] #4 closed

[2017-03-18 21:08] globsecure commented on #3
@chamunks - This changes:

[code]

[2017-03-20 14:08] Gregy commented on #7
Hello,
thank you for the bug report. @jmeyo is correct, this behaviour is caused by the missing trusted_proxies. Please take a look at the new mautic-nginx-ssl example here: https://github.com/mautic/docker-mautic/tree/master/examples/mautic-example-nginx-ssl

[2017-03-20 14:08] #7 closed

[2017-04-13 13:13] pierreozoux commented on #14
Great :)

Could you also update the tags?

Thanks!

[2017-04-13 13:32] Gregy commented on #14
Yeah, I would very much like to do so but we have trouble with access to the dockerhub repository. One Mautic employee removed himself from administration and left no one there. We are in the process of getting access back.

[2017-04-13 13:43] pierreozoux commented on #14
Arg :) Sorry to hear that!

Good luck :)

Pierre

On 13-04-2017 14:32, Petr Gregor wrote:

--
I use PGP to protect our privacy, if you want to know more, you can
follow this
https://emailselfdefense.fsf.org/en/

If you have further questions, please do not hesitate to ask.
You can verify my public key here: https://keybase.io/pierreozoux

[2017-04-17 18:01] warlock6661992 opened #17 "Running Cron Jobs Manually"
I want to run segment updates and campaign triggers manually.
I cannot find the path to mautic installation directory.
Could you tell?

[2017-04-18 08:46] Gregy commented on #17
If you want to run crons manually you will need to set MAUTIC_RUN_CRON_JOBS=false. Installation directory inside the container is /var/www/html

[2017-04-18 08:46] #17 closed

[2017-05-01 10:45] hanselke commented on #2
is there an easy way to move all user files to a specific directory so we dont have to mount /var/www/html? 200+Mb isnt a lot but it seems hackish to mount it

[2017-05-01 15:06] mingfang commented on #2
@hanselke My version https://github.com/mingfang/docker-mautic.git does not volume mount the entire ```/var/www/html```, but only the user specific files under ```/var/www/html/app/local```.

[2017-05-02 04:00] hanselke commented on #2
hi @mingfang thanks for the reply.

Can i confirm that i just need to mount app/local as a volume?

[2017-05-02 04:08] mingfang commented on #2
@hanselke Yes, please follow the instructions on my repo.

[2017-05-04 11:42] Gregy commented on #10
This issue has been fixed in mautic 2.8.0
Thanks for reporting it.

[2017-05-04 11:42] #10 closed

[2017-05-26 16:00] TimPchelintsev opened #19 "How can one specify cron intervals"
Hi. Thanks for amazing work! I wonder what is the way to customise cron jobs(want to speed up things a bit, say process events every min, not 15 mins). I see that I can switch it off completely, then how should I provide this functionality from my side? It will be cool if we can somehow provide file with cron settings to the container.. I am quite new to docker(and cron too), sorry if it's obvious

[2017-06-04 19:49] samrose commented on #13
docker-compose is a very easy way to do this on the docker level

[2017-06-08 11:55] mko-x opened #20 "SSL and app cache problem"
Upfront: I opened an issue at mautic github repository directly (see https://github.com/mautic/mautic/issues/4207#issuecomment-307075196) before.

The answer there is that the problem is docker mautic related - so see my problem as follows:

What type of report is this:

| Q  | A
| ---| ---
| Bug report? | Probably
| Feature request? |
| Enhancement? |

## Description:
I set up Mautic via docker-m

[2017-06-08 12:02] Gregy commented on #20
Hello,
please look at mautic ssl configuration example in this repository. Especially at the nginx configuration file: https://github.com/mautic/docker-mautic/blob/master/examples/mautic-example-nginx-ssl/nginx.conf

Try to update your configuration to match it. If it doesn't help please post your nginx config.

[2017-06-08 12:27] mko-x commented on #20
Hi Gregy,
thank you for your very fast reply.

Thank you for the tip with the example, I had a look. I'm using a dynamic generation of the nginx.conf like https://github.com/jwilder/nginx-proxy.

So the nginx.conf looks like this:
[code]

And the default.conf used for mautic looks like this:
[code]

Maybe Mautic Apache expects the traffic to be via https/443 if using SSL. At the moment it is reach

[2017-06-08 12:37] Gregy commented on #20
As I said. Read the example configuration file. I think you are missing some directives in yours.

[2017-07-17 14:35] #20 closed

[2017-08-02 12:18] Gregy commented on #19
Hi, you need to replace crontab file (https://github.com/mautic/docker-mautic/blob/master/common/mautic.crontab) with your own version.

[2017-08-02 12:18] #19 closed

[2017-08-09 05:27] gauravarora commented on #20
@mko-x did you ever find a fix for your problem? I have the exact same issue as you.

[2017-08-09 06:46] mko-x commented on #20
Hi @gauravarora,

first - regretfully: No.

Depending on your needs you should have a look to alternatives to actual great Mautic at this point.
I tried to create a fork and update the link generation to create protocol independent links, but this was not possible easily. As I work for a big company and explored Mautic as Salesforce alternative, I have no time for fixing bugs like this.

So I was

[2017-08-09 07:12] Gregy commented on #20
As I said before. This is not a bug. Your reverse proxy configuration lacked the required directives (proxy_redirect). @gauravarora This scenario (mautic behind nginx ssl proxy) works fine if you use the example nginx configuration file.

[2017-08-09 07:27] mko-x commented on #20
I'm just saying that Mautic formular link generation results in different types of links - hardcoded protocol links like (http://<url>) and independent ones (//<url>). That is inconsistent and it would work like charme if it would be consistent - without nginx config modifications. Not everybody can modify the configuration there easily.

[2017-08-12 21:07] yankees9920 opened #22 "Mautic does not support PHP version 7.0.21"
I just ran the container with the docker-compose file included and I received the following error.

`Mautic does not support PHP version 7.0.21 at this time. To use Mautic, you will need to downgrade to an earlier version.`

[2017-08-14 12:02] Gregy commented on #22
I cannot replicate this. My guess is that you are using some old version of the docker image. Please post the version of mautic in the docker image. Current should be 2.9.0 (you can check the version by reading file /var/www/html/app/version.txt inside the container)

[2017-09-15 13:25] mrinc opened #27 "LDAP with Email"
Hey guys,

There is an issue with sending mails to SMTP servers using LDAP auth.

We just need to enable it in the php.ini apparently - I'll see if I can do it and push a merge

Thanks

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://app.bountysource.com/issues/49372083-ldap-with-email?utm_campaign=plugin&utm_content=tracker%2F20392502&utm_medium=issues&utm_sou

[2017-09-15 13:27] mrinc commented on #27
Okay, not as simple as expected.

Will do some more research and see what I can do

[2017-09-15 23:31] winers1290 opened #28 "Mautic doesn't accept requests to port 443"
Unsure if this is by design or not, but when I proxy an https:// request to port 443 on the Mautic container, the container refuses the connection.

However, when I proxy an https:// request to port 80, it accepts it.

Guessing the Apache instance is not setup to open 443?

[2017-09-19 11:46] Gregy commented on #28
I don't understand what are you trying to achieve. If you are attempting ssl termination see the example at https://github.com/mautic/docker-mautic/tree/master/examples/mautic-example-nginx-ssl

[2017-09-19 11:46] #28 closed

[2017-09-19 12:06] winers1290 commented on #28
Yes, and as per that document, only port 80 on the Mautic container is exposed.

It's pure convention to have SSL connect to port 443, and I only raise it as an issue because I had been trying to terminate to 443 and could not figure out what was going wrong.

Is it not just a bit weird to have to go reverse_proxy:443 => Mautic:80 for an SSL connection? Maybe I'm complicating things.

[2017-09-19 12:48] Gregy commented on #28
The ssl connection is terminated by nginx and the traffic from nginx to mautic is unencrypted. That is why it is using port 80.

[2017-09-19 12:56] winers1290 commented on #28
I haven't tested this, but does that mean proxied SSLs are unsupported? https://www.nginx.com/resources/admin-guide/nginx-tcp-ssl-upstreams/

I think in order for this to work, the Mautic container would need a setting to require client certificates.

[2017-09-19 13:00] Gregy commented on #28
Yes. That configuration is currently not supported however we are accepting pull requests :)

[2017-10-12 10:01] #22 closed

[2017-10-21 17:33] dmelo opened #31 "Mautic reinstall from the beginning on every docker run"
The first time I run the Mautic container, I configure the database on the Web interface and start using Mautic. If I kill the container and run a new one, connected to the same database, I expect it to continue from where it had stopped. Instead it redirects to the install page again. Docker containers are ephemeral by nature, we should be able to kill and run a new one without any additional eff

[2017-10-23 17:30] luizeof commented on #31
You need to create persistent docker volumes ...

[2017-10-23 22:51] dmelo commented on #31
Thanks @luizof . Which paths should I transform into volumes? I tried creating a volume for the config path but didn't change much.

[2017-10-26 00:45] dmelo commented on #31
OK. I saw that the Dockerfile is declaring /var/www/html as a volume. I have updated my docker-compose.yml to work with that.

[2017-10-26 00:45] #31 closed

[2017-10-27 01:50] lvnilesh opened #33 "missing mautic.mauticlead_fields table"
https://github.com/mautic/mautic/issues/5200

[2017-10-27 20:23] lvnilesh commented on #20
I ran into similar problems and have narrowed down the issue to this

No issue if I keep it like this.
[code]
301 redirect loop if I edit config like this.
[code]

[2017-10-30 13:04] Gregy commented on #33
This is a duplicate of https://github.com/mautic/mautic/issues/3436

[2017-10-30 13:04] #33 closed

[2017-10-30 20:50] lvnilesh commented on #13
Here is an incomplete approach. I still do not know how to ask mautic to use mauticredis.

[code]

[2017-12-10 00:11] pcottrell opened #37 "Using SSL is not secure because of gravatar"
I am using the NGINX reverse proxy for SSL, and the page is not secure.

**Problem:**
When there is no gravatar on a profile it defaults to http to pull the default image.

**Possible solution, but I cant find one.**
Is there a config setting to make mautic force SSL, or something else?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://app.bountysource.com/issue

[2017-12-13 10:27] Gregy commented on #37
Hi,
can you please post your nginx config here?

[2017-12-15 07:03] mogul opened #39 "Docker image only partially installs DB schema"
TL;DR: When you run the Docker commands to start the official Mautic image as a container, the resulting Mautic **looks** OK, but it turns out it's still missing 8 schema migrations. To allow them to proceed, you have to `DROP TABLE `mautic`.`email_stat_replies`;` then do `php app/console doctrine:migration:migrate`

I can't describe the details better than I did in [this Slack thread](https://mau

[2017-12-15 13:57] dbhurley commented on #39
Thanks for this. Definitely something that needs fixing!

[2017-12-15 13:59] dbhurley commented on #37
This sounds like something to be reported on Mautic/mautic project.

[2017-12-15 14:00] dbhurley commented on #3
Still an issue or can this be closed?

[2017-12-15 14:33] luizeof commented on #37
@dbhurley @Gregy @pcottrell this only happen when lead does not have an gravatar.

Otherwise the image is loaded over SSL

![screenshot](https://user-images.githubusercontent.com/257004/34046395-18f14ace-e194-11e7-80f9-e1b51a76270c.png)

[2017-12-17 19:31] mogul commented on #39
Great, glad I could help. (Now if only I could see any hits from my tests in an Incognito browser I'd be golden.)

[2017-12-18 13:17] Gregy commented on #39
I believe this is a problem in core mautic. I installed from mautic/mautic:master without the docker image and got the same result.

[2017-12-19 15:28] funkizer commented on #2
How would one extend this image to add my Mautic plugin from a local folder?

Sorry! I'm a total Docker noob, don't even know how to search for an answer to this - all the results are like gibberish to me.

[2018-01-17 03:05] williamdias opened #42 "How to use settings from an older container and skip installation process?"
I created a new mautic container to replace an older one. When I access the app, it redirects me to the installation process to fill database and admin details. Is there a way to use the settings from previous container and skip these steps? Where does mautic persist this information?

Thanks!

[2018-01-17 07:19] Gregy commented on #42
Hi, you would need to copy over mautic's configuration file.
`/var/www/html/app/config/local.php`

[2018-01-17 07:19] #42 closed

[2018-01-21 17:09] luizeof commented on #39
Fixed on https://github.com/mautic/mautic/pull/5555

[2018-01-28 01:28] xtjoeywx commented on #19
Hi Gregy and TimPchelintsev, I'm new to docker and cron as well and I'm trying to find the mautic.crontab file on my server.

I'm using Ubuntu and I don't see it in here: /var/spool/cron/crontabs

I also don't see it here either:
SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

Would either of you kindly tell me where I can find the file so I can replace it?

[2018-01-28 21:58] xtjoeywx commented on #19
I found two files called "mautic" by using this search command: `find / -type f -iname "mautic"`

The contents of both match the mautic.crontab file you mentioned above. They are located in different locations of each other. I didn't expect there to be two files in two different locations, therefore, I'm not sure which one to change. Do I need to change both of them or just one of them?

One is lo

[2018-01-29 02:49] xtjoeywx opened #43 "Hangs when amazon IMAP settings are added to the Default Mailbox"
When I add my Amazon SES IMAP settings, specifically the password to the Monitored Inbox Settings Default Mailbox then click the "Test connection and fetch folders" button it will come back saying the information is not correct. I repeated this a few more times to make sure my information was correct and it still said the same thing. The information I was entering is the exact same information I e

[2018-02-01 07:46] kallevu commented on #3
Had a same issue, fixed by adding `restart: always` to both mautic and mauticdb images.

[2018-02-01 10:04] luizeof commented on #43
I hope that is an Mautic problem

2.12.2 has some fixes on Settings Page

[2018-02-26 23:15] xtjoeywx opened #44 "Mixed Content https and http"
I installed Mautic using "nginx to act as a reverse proxy with ssl support for mautic container" and I'm getting these errors in the console on Chrome:

"Mixed Content: The page at 'https://mydomain.com/test-landing-page' was loaded over HTTPS, but requested an insecure script 'http://mydomain.com/mtc.js'. This request has been blocked; the content must be served over HTTPS."

"Mixed Content: The

[2018-02-27 07:26] Gregy commented on #44
Hello, can you please post the nginx configuration you use?

[2018-02-27 15:32] xtjoeywx commented on #44
I used this tutorial to set up nginx: https://blog.ssdnodes.com/blog/tutorial-extending-docker-nginx-host-multiple-websites-ssl/

Here is a copy of  /etc/nginx/conf.d/default.conf:
[code]

[2018-02-28 08:09] Gregy commented on #44
Please see example config here https://github.com/mautic/docker-mautic/blob/master/examples/mautic-example-nginx-ssl/nginx.conf

Especially the proxy_redirect directive.

[2018-02-28 08:09] #44 closed

[2018-04-09 12:55] avifatal opened #48 "Problem linking the db"
Hi,
I get this error when running the following yml file
`mautic_1    |  error: missing MAUTIC_DB_HOST and MYSQL_PORT_3306_TCP environment variables
mautic_1    |   Did you forget to --link some_mysql_container:mysql or set an external db
mautic_1    |   with -e MAUTIC_DB_HOST=hostname:port?
mautic_mautic_1 exited with code 1`

[code]

Any suggestions?
Thanks

[2018-04-09 13:12] Gregy commented on #48
Hi, you should include MAUTIC_DB_HOST env variable. See https://github.com/mautic/docker-mautic/blob/master/examples/mautic-example-nginx-ssl/docker-compose.yml for an example.

[2018-04-09 13:12] #48 closed

[2018-04-09 13:16] avifatal commented on #48
thank you. forgot to mention, already did that and i got this error:
MAUTIC_DB_HOST="mauticdb"

mautic_1    |
mautic_1    | Warning: mysqli::__construct(): php_network_getaddresses: getaddrinfo failed: Name or service not known in /makedb.php on line 20
mautic_1    |
mautic_1    | Warning: mysqli::__construct(): (HY000/2002): php_network_getaddresses: getaddrinfo failed: Name or service not known

[2018-04-09 13:26] Gregy commented on #48
You could try removing the links section. If that doesn't work try to copy the example, try if it works and then modify it for your needs.

[2018-04-09 19:27] avifatal commented on #48
Hi,
Looks like when using the example the openssl was not install on the docker container:

[code]

[2018-04-10 08:42] Gregy commented on #48
Thanks, fixed. It was caused by a change in nginx image upstream.

[2018-04-11 09:15] avifatal commented on #48
Thank you

[2018-05-01 17:14] that0n3guy commented on #2
@Gregy I see you just did some new docs in the readme.   Still no mention of volumes (where are uploaded files stored, configs, etc...).   Can you get those added?

[2018-05-01 18:16] mingfang commented on #2
I want to answer your questions but please ask them on this repo https://github.com/mingfang/docker-mautic.git. Thanks

[2018-05-01 19:03] RobinHerzog opened #55 "Migrate to SSL"
Hello,
Could you by default add a SSL config ?

[2018-05-01 19:07] #55 closed

[2018-05-02 10:12] #3 closed

[2018-05-02 10:13] Gregy commented on #3
I am closing this as it appears to be an configuration issue. Please create a new issue if it is still a problem.

[2018-05-02 10:14] Gregy commented on #2
Hello, feel free to open a pull request with documentation changes. All help is welcome :)

[2018-05-08 21:29] goq opened #59 "Unable to connect with TLS encryption when using custom smtp as dockerized hardware/mailserver"
I use dockerized hardware/mailserver for mail purposes.
Can't setup e-mail settings in dockerized mautic: then i set smtp as custom TLS to 587 port (internal address use, or external - doesn't matter) - there are error "Unable to connect with TLS encryption"
All log here:
`Unable to connect with TLS encryption Log data: ++ Starting Swift_SmtpTransport << 220 mail.myserver.com ESMTP Postfix >> EHLO

[2018-05-08 21:31] goq commented on #59
My bad. Everything is ok. Sorry.
All services works perfectly!

[2018-05-08 21:31] #59 closed

[2018-05-15 08:59] Jonbj commented on #4
Sorry for bother you, but i installed mautic con Rancher, and my cron doesn't run.
I set MAUTIC_RUN_CRON_JOBS=true, I can see the file mautic under /etc/crond.d/mautic but cron doesn't start and the command:
`crontab -l `
give:
`no crontab for root`
Also
`crontab -u www-data -l`
give
`no crontab for www-data`
Can you help me?

[2018-06-05 17:32] joaodalvi commented on #2
How to run this image as a stateless container? I can't figure out how to remove/recreate a container based on this image keeping the existing installation data. MySQL server and database database username and password are the same, through env variables, but everytime I recreate the container, it spins up the mautic installation again, and none of the changes made are reused on this new installat

[2018-06-05 20:02] chamunks commented on #2
@joaodalvi I'm not entirely sure why you're posting your support request in someone else's github issue thread.

[2018-06-05 21:33] that0n3guy commented on #2
I think joaodalvi's issue is completely relevant to this issue.   His question is exactly what this issue needs documented.

[2018-06-07 20:04] joaodalvi commented on #2
Figured it out, after some good time. You have to create a volume for /var/www/html. This bit could be on the README, it would save people a LOT of time...

[2018-06-08 16:11] that0n3guy commented on #2
@joaodalvi That's not really a solution either... that puts the whole mautic application in the volume.

[2018-06-15 14:21] FabianTe opened #60 "-link option ignored in docker-compose"
Hi! In this docker-compose file, my `links` option is ignored.

[code]

I get this log message:

[code]

Do you get the same behaviour for the compose file?

Edit: I also get this with different mysql versions, including the latest and the version specified by the README

[2018-07-20 10:42] salvacorts commented on #60
Hi @FabianTe, Docker links are a legacy feature that may be removed in the future as you can read in the note bellow.

[Legacy container links](https://docs.docker.com/network/links/)

In this case I would recommend you using docker networks.
You need to create a network for Mautic and MySQL and then set all the env variables needed to make them able to communicate between them.
Also, you can make

[2018-07-20 11:47] FabianTe commented on #60
Thank you! I got it working some weeks ago with a similar setup.

[2018-07-20 11:47] #60 closed

[2018-08-08 20:46] dioneiserino commented on #59
@goq I have the same issue.
Can you tell what was your fault please?

[2018-08-24 18:22] xtjoeywx opened #63 "Campaign is not sending to all contacts in segment"
Problem:
Only 19 out of 300 new contacts received a campaign email. It seems to hang or stop.

Using:
Mautic v2.14.0
Digital Ocean - Ubuntu 16.4 LTS
Docker/Docker Compose
(Also tested this in a Kubernetes cluster)

Steps to recreate the problem:
1.) Create a segment with a tag.
2.) Create a template email.
3.) Create a campaign that pulls the above segment and instantly sends the above email.
4.)

[2018-08-26 16:57] dulabs opened #64 "Database not migrate"
I'm using composer below, database is created but the table  not generated.

`
mautic:
  image: mautic/mautic
  links:
    - mauticdb:mysql
  ports:
    - 8080:80

mauticdb:
  image: mysql:5.6
  environment:
    MYSQL_ROOT_PASSWORD: example
`

Output
`[CRON] [PDOException]
mautic_1    | [CRON] SQLSTATE[42S02]: Base table or view not found: 1146 Table 'mautic.lead_lists' doesn't exist`

[2018-09-11 12:33] luizeof commented on #63
Hi @xtjoeywx this bug is related to Mautic itself.

Mautic 2.14.1 will fix this. For more info please see this pull request https://github.com/mautic/mautic/issues/6419

[2018-09-11 12:34] luizeof commented on #63
Closing ;)

[2018-09-11 12:34] #63 closed

[2018-09-11 12:35] luizeof commented on #64
Can you paste the entire log here please ?

Thanks !

[2018-09-11 12:36] #39 closed

[2018-09-12 10:15] YosuCadilla commented on #63
I tested with 2.14.1-beta and it seems NOT to solve the issue, here's a complete list of possibly related issues: #6515 #5546 #6482 #6419 #6211 #6433 #63

Seems Github has issues to solve too: #63 as seen here: mautic/docker-mautic#63

[2018-09-12 10:19] YosuCadilla commented on #63
#6460 too probably.

[2018-09-12 10:32] RammusXu opened #65 "Cron job is not working"
Hi,
I have same problem as bottom of #4.
I use `docker-compose up` with the config below.

[code]

I try to get cron job information with commands.
[code]

Then, I try to run mautic commnad as user `www-data`. Found some error here!

[code]

[2018-09-14 03:43] RammusXu commented on #65
@luizeof Do you have any ideas? Please help me.

[2018-09-18 09:12] proffalken commented on #65
@RammusXu Please can you re-run the above commands, but this time when you get the permissions error, can you run `ls -l` against the file in the `fopen()` brackets and paste the input here?

[2018-09-18 09:35] RammusXu commented on #65
[code]

Is it clearly?

[2018-09-18 21:10] luizeof commented on #65
@RammusXu

Mautic Docker uses crontab in the /etc/cron.d/ directory, so it does not appear in crontab -l.

It does not make much sense to run the commands as root because they can write the log and the www-data apache user can not read files created by root.

About the error:

`Warning: fopen(/var/www/html/app/cache/prod/../run/sf.mautic-segments-update.5415eaf7823c0a036b252ba8a9f1f4065263e1c60a23

[2018-09-30 07:37] dulabs commented on #64
I see in docker-entrypoint no command mautic:install.

So after create config, it need to visit mautic url to do installation.

Thanks.

[2018-09-30 07:37] #64 closed

[2018-10-09 21:57] spatialy commented on #20
Sorry for reopening this, but any have resolved the issue ????
We run behind a firewall/load balancer that handles the https request and sends to the container but need to configure mautic to recognize the https termination.

any help is appreciated

best

[2018-10-10 05:05] Bellusterra commented on #20
I don’t know if this helps with your situation but just fixed it for mine

https://github.com/mautic/docker-mautic/issues/7

Running Docker Mautic behind a reverse proxy needed the trusted proxies otherwise you get the avatar.png coming up as insecure.

[2018-10-10 05:09] Bellusterra commented on #20
Okay turn out that actually didn’t fix it for me :( only looked like it had worked because the avatar.png had not loaded after I had change those things but reverted back.

[2018-10-10 09:29] Bellusterra commented on #20
Turns out that unless you create an account with wordpress and create an gravatar which when you put in your email as admin to link it you will be stuck with mautic importing the http avatar image from the files causing the website to complain that not all things on the page are https.

[2018-10-11 16:44] t-l-k commented on #65
@luizeof

What does this mean, set the property to www-data?

Am also debugging this container now and `/etc/cron.d/mautic` does not appear to be running, despite cron service status reporting ok - nothing coming through on the fifo `/var/log/cron.pipe`.

Have checked cross referenced with (Debian stretch cron documentation)[https://manpages.debian.org/jessie/cron/cron.8.en.html] and it appears to

[2018-10-14 11:22] jesseshieh opened #69 "How to set PHP date.timezone setting?"
The first time I accessed mautic, the installer recommended the following

I looked for an environment variable or something, but didn't find anything. Is there some way to control the timezone?

[2018-10-14 13:29] jesseshieh commented on #65
I edited `/etc/cron.d/mautic` and commented out the line starting with `@reboot` and the jobs seem to be working for me now (except the `@reboot` command of course). I haven't dug into exactly why `@reboot` doesn't work, but here are some hints to investigate.
https://unix.stackexchange.com/questions/109804/crontabs-reboot-only-works-for-root

Also, I'm not sure if a reboot command makes sense for

[2018-10-15 10:04] jqvanet commented on #63
I'm having the same issue and I don't use the action "Modify contact's segments".
I have 3 conditions testing a field value and 3 corresponding "Send email" actions.

Please help.

[2018-10-15 16:38] t-l-k commented on #69
Hey @jesseshieh , as I tackled this just last week, here was my solution:

Created the following file `mautic-php-timezone-en-gb.ini`, referencing the [list of PHP time zone constants](http://php.net/manual/en/timezones.php), and made it available in my Docker build context (which for me was adjacent my own `Dockerfile`):

[code]

Then in my `Dockerfile` which derives from `docker-mautic` as a bas

[2018-10-15 16:46] t-l-k commented on #65
Thanks @jesseshieh , I will try and follow suit. I'm not totally convinced my workstation is not mangling `CRLF`/`LF` correctly, but the [Debian stretch cron documentation](https://manpages.debian.org/jessie/cron/cron.8.en.html) does say that cron is very fussy with the final line in the file and the presence of a `LF` vs an `EOL`, so that might be worth checking as well.

[2018-10-16 05:32] jesseshieh commented on #69
Thanks @t-l-k! I'll give that a try today. By the way, do you have any plans to open source your repository that has these fixes in it?

[2018-10-16 11:40] t-l-k commented on #69
Hey @jesseshieh , I have forked the Mautic and Mautic-Docker repo but am layering additional Docker modifications in a seperate private repo at the moment as they're environment specific. When I've something PR worthy I'll raise it.

[2018-10-16 14:20] t-l-k commented on #65
I've just tried taking the `mautic.crontab` file, ensuring VSCode reports endings as `LF`, saved it and copied it into my image in a derived `dockerfile` overwriting the one from the published `docker-mautic` image, and it is now working. This is with the @reboot command enabled. I `docker cp`'d the files out from the original `mautic/mautic` image, and they're identical, line endings and all.

Di

[2018-10-23 06:22] ChiragMoradiya opened #70 "Upgrade to 2.14.0"
When will we get docker image for latest release: 2.14.0?

[2018-10-25 05:43] luizeof commented on #70
2.14.2 released!

[2018-10-25 05:43] #70 closed

[2018-12-21 15:53] ston3o opened #77 "Upgrade docker hub images to 2.15.0"
Hello, mautic/mautic 2.15.0 images are not deployed, can you build images ?

[2019-01-21 18:54] #77 closed

[2019-01-21 19:03] luizeof commented on #43
@xtjoeywx can you close this issue if problem was resolved please?

[2019-01-22 16:11] xtjoeywx commented on #43
I’ve not been able to test it recently. To my knowledge, I don’t think it ever worked. I hope others have had success with it though. I don’t have time in the near future to try it. I’ll close this still though. Thanks.

[2019-01-22 16:11] #43 closed

[2019-01-22 17:57] vshulev commented on #77
Hi, this issue was closed but I'm still not seeing 2.15 or 2.14 on Docker Hub. Are there plans to release them?

[2019-01-24 06:58] dsp76 opened #78 "PHP Memory limit is set to 135 by default only"
The memory limit should be increased by default, as a PHP memory limit with 135MB is a cause for many errors.

[2019-02-25 15:55] rdxmb commented on #2
There are better images doing that - but running updates with `rsync`, just seen at https://hub.docker.com/_/nextcloud/ . Maybe that application could be an example how to do it Docker-like - not only for volumes, but also with updating when using tags and other things like that.

By the way, this ticket is from 2015  - very long time....

[2019-02-25 15:57] rdxmb opened #82 "2.15 is missing as a tag in docker images"
Hi,
as the actual version (2.15) is missing as a docker tag - so manually updating with using tags in docker is not possible.

And, as in the docs

for sure? IMHO this should be
'that you can specify an version do **build** your new container'

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://app.bountysource.com/issues/70566536-2-15-is-missing-as-a-tag-in-docke

[2019-02-27 18:50] felipeplets opened #83 "Mautic on Docker does not seems to work"
I could not realize the source for the error but seems like Mautic docker master tag is not working and nor the instructions work. Also the listed tags exists (at least nginx).

Which is the status for this project? Should it work? Is there someone actively maintaining it?

[2019-02-28 15:27] tkima commented on #83
Ive tried it yesterday and it worked but had some issues with the volumes and the cache of composer on restart.

[2019-02-28 19:09] tkima commented on #83
But the API was not working (error 404) with the docker. I could get a access_token but when i started to use it to get information it gave me a 404 error.

Everywhere you read about cleaning the cache. But if you do it on a docker or on a volume the ownership wil change again. So your the script gives you "current offline" window.

How to fix the API on docker do the next steps (there are probabl

[2019-03-04 08:53] jodumont commented on #82
also; the tag nginx don't exist

![image](https://user-images.githubusercontent.com/5204724/53721341-50cff080-3e63-11e9-94cf-8620224f874a.png)

[2019-03-05 10:44] Aschenbecher commented on #77
push

[2019-03-08 17:47] luizeof commented on #83
hi @felipeplets did you encounter a problem when running mautic docker? Are you using compose or are you running through the command line?

[2019-03-08 18:02] luizeof commented on #82
@jodumont thanks for this report. The correct tag is `fpm`.

[2019-03-22 10:41] elwood218 opened #88 "Own config cannot be mounted because of last commits"
Because of recent changes it's not possible to put a paths_local.php or parameters_local.php via configMap-Mount because one new command in entrypoint is failing.
See my comment on: https://github.com/mautic/docker-mautic/commit/34214ccef25fea7b7c80d56baa7af6dbfdd50d36

[2019-03-22 11:32] luizeof commented on #88
how can I reproduce this error?

[2019-03-22 12:20] elwood218 commented on #88
For example if you want to change the paths for mautic to make them persistent you need to change config via e.g parameters_local.php.
[code]
This will then be mounted in a kubernetes deployment.

[code]

[2019-03-22 14:55] elwood218 commented on #88
I also don't see why this line was added? This wasn't necessary before so why this is needed now?

[2019-03-22 15:00] elwood218 commented on #82
Why there is a tag for 2.13 then? Imho this is quite confusing. And using only apache is like using master branch. So I can only use 2.13 with php 7.0 where Mautic 2.13 is pinned as default.

[2019-03-28 15:08] arashsoheili opened #89 "Cannot access index_dev.php"
When trying to access http://localhost:8080/index_dev.php get a You are not allowed to access this file. Tried to set dev_hosts in config local.php to localhost and also internal container ip but not luck. Any suggestions or fix?

[2019-03-28 15:09] rvalle opened #90 "/var/www/html data volume?"
Hi!
I am confused by the data volumes included in the documentation:

/var/www/html seems to include the application PHP code, its plugings, themes, etc.
why is it recommended to set it up as a data volume?

Where is mautic storing its data other than in Mysql?

Can it be separated from the application distribution?

How is this all going to work when pulling a new version of mautic?

<bountysourc

[2019-04-01 19:52] luizeof commented on #90
Hello @rvalle

the Mautic files reside in the /var/www/html folder, as well as the app/themes and app/media folder that are used to store users' files.

By the way mautic is developed, I do not advise updating it just by recreating the container. Some caching and database operations are usually required.

Mautic also offers a simple script that can be used to upgrade. https://github.com/mautic/mau

[2019-04-02 06:42] rvalle commented on #90
Hello @luizeof

to me, the question is why running mautic under docker at all?
I see one key benefit is to easily maintain updates. Mautic is going to be out there on the internet, with email connectivity, etc.

I think this can be achieved the whole mautic distribution comes in the docker image, and user data is stored in docker volumes.

At startup, mautic should be able to decide if the data vo

[2019-04-02 14:26] elwood218 commented on #88
@luizeof I am testing it and for my setup and can tell you next days hopefully

[2019-04-03 01:57] madmath03 opened #92 "Add docker build and docker-compose run to CI system"
It would certainly help to have a Continuous Integration system to check that the docker image properly builds and runs with the test docker-compose provided.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://app.bountysource.com/issues/72307722-add-docker-build-and-docker-compose-run-to-ci-system?utm_campaign=plugin&utm_content=tracker%2F20392502&utm_medium=iss

[2019-04-03 22:02] elwood218 commented on #88
@luizeof I was able to test it and my Helm Chart is working now again in my Kubernetes Cluster when removing that line.
But at the moment I have build my own docker image because I cannot use tag `apache` because it is like master and every change could destroy my kubernetes deployment. I am missing a tag `2.15-apache`.

[2019-04-03 22:59] luizeof commented on #88
@elwood218 Mautic runs within many scenarios ... this change solve some problems here .... but i'm rollback this commit and make this on my own image ;)

many thanks for the warning ;)

[2019-04-03 23:11] luizeof commented on #90
@rvalle

I think it's possible to do this with Docker. But I do not know how it would be for the rest of the community to just re-create the container and update the Mautic ... many people wait a while before updating

[2019-04-03 23:14] luizeof commented on #89
@escopecz Mautic Dev need some tweak to run?

[2019-04-03 23:25] madmath03 opened #95 "Composer.json missing?"
I might be missing something here so feel free to correct me, but I do not understand why composer is installed but Mautic composer.json and composer.lock are not added to the container.

What's point of having composer without the project's project file ?
I know those files are not present in the archive which is downloaded but I mostly wonder if there is a reason for not adding them or if it's a

[2019-04-04 00:22] madmath03 opened #96 "Use a Dockerfile template"
Add a Dockerfile template to easily update all variants Dockerfile and provide more variants.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://app.bountysource.com/issues/72359942-use-a-dockerfile-template?utm_campaign=plugin&utm_content=tracker%2F20392502&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://app.bountysource.com/

[2019-04-04 00:24] luizeof commented on #88
@elwood218 can you test please?

[2019-04-04 07:51] escopecz commented on #89
If you look how Mautic is being installed [in the docker file](https://github.com/mautic/docker-mautic/blob/master/apache/Dockerfile#L47) then you see that it downloads the production zip package. This package contains all libraries but it doesn't include dev dependencies.

So, if you want Mautic to have the developer dependencies then use the raw version from github and install all dependencies w

[2019-04-04 07:51] #89 closed

[2019-04-04 08:12] rvalle commented on #90
If the container contains all mautic distribution and the version tag matches mautic version then the community can choose when/how to update.

They can use a pinned version number such as "2.15.1" or "latest" version depending on how critical the environment is, and what their update policy is.

Obviously they should backup data volumes to ensure they can go back to previous version if the update

[2019-04-04 08:32] elwood218 commented on #88
@luizeof to which docker tag is that master branched pushed? Can I use tag `apache` now?
But anyway there should be a docker tag `2.15-apache` so that no changes like that will effect an existing deployment. So using tag `apache` is like using `latest`.

[2019-04-04 09:57] elwood218 commented on #88
It seems like it is not yet pushed to docker hub.

Kubernetes describe on pod:
[code]

[2019-04-04 12:07] madmath03 opened #99 "Compute SHA1 from GitHub archive instead of AWS"
The following command returns "All access to this object has been disabled":
https://github.com/mautic/docker-mautic/blob/e3c0d97d3e6c935f4ba15163c088f02babf61de0/update.sh#L7

Even if it's just because I do not have access to AWS repository, since the archive is used to compute SHA1 and check in the Dockerfile that the archive downloaded is valid, it would make more sense to download the archive

[2019-04-04 14:19] luizeof commented on #88
@elwood218  can you try again please?

[2019-04-08 12:54] elwood218 commented on #88
@luizeof I have tested it now and it seems to work again. So we can close this ticket. Anyway I would recommend that there is another tag `2.15-apache` then it would not matter to make changes in tag `apache`.

[2019-04-08 12:54] #88 closed

[2019-04-09 14:06] elwood218 commented on #65
For me the cron was not working too but because of another reason. I have build my own Docker Image with Gitlab-CI and somehow the permissions at cloning of the repo changed to 666.
The cron-file is not allowed to have write-permission on group or other.
https://debian-administration.org/article/687/So_your_cronjob_did_not_run

So I have added this to my Dockerfile after the COPY of mautic.crontab

[2019-04-19 19:41] ericp96 opened #100 "Slow performance due to persistence"
Persisting the root www folder leads to slow performance.  This is in part due to the persistence of cache and logs under the www folder.  It would be ideal if we could specify the directories where the caching and logging are stored as environment variables and/or if a preferred mountpoint other than the root www folder is provided.

<bountysource-plugin>

---
Want to back this issue? **[Post a b

[2019-04-25 12:35] luizeof commented on #100
You can configure Mautic cache and logs path on Mautic Settings

![download (1)](https://user-images.githubusercontent.com/257004/56736044-84314c00-673d-11e9-8c05-8b29a551bc0e.png)

[2019-04-25 12:49] ericp96 commented on #100
I did that, however performance is still not as great as when I just mounted the config directory. It seems like it would be worthwhile to note the directories that should be persisted and which ones would be fine to omit?

[2019-05-07 08:57] francis-ve commented on #82
@luizeof   2.14.* docker images are completely missing :(

[2019-05-13 15:43] Allendorf231 opened #102 "Disable apache logs (Question)"
Is there a easy way to disable apache logs? We can't have them stored for privacy reasons.

Any easy way to disable logs? Preferable without having to build my own Docker image?

Cheers.

[2019-05-14 02:27] #65 closed

[2019-05-22 13:50] TheBags opened #103 "ENV for cache path"
Hi,
is it possible to add an environment variabile so to have the ability to change where the app caches?
This would be useful when deploy mautic on k8s leaving app on persistent volume and tha cache onto the pod if no replica needed.

Tnx,
Giovanni

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://app.bountysource.com/issues/74501381-env-for-cache-path?utm_camp

[2019-05-22 14:05] TheBags commented on #100
I agree with @ericp96.
It would be better if I can choose path for cache and logs during first deploy

[2019-05-25 15:56] aspiers commented on #100
@ericp96 Please could you clarify why persisting cache and logs under `/var/www/html` makes things slow?  Are you saying that persisting somewhere else would be faster?  Or that they should be put on tmpfs or some other RAM-backed filesystem?  Or something else?  Sorry if these are stupid questions but I'm not understanding this issue fully yet.

[2019-05-25 16:15] aspiers commented on #90
[**@luizeof**](https://github.com/luizeof) commented on [April 1, 2019 8:52 PM](https://github.com/mautic/docker-mautic/issues/90#issuecomment-478721644 "2019-04-01T19:52:32Z - Replied by Github Reply Comments"):

I think @rvalle makes a good point.  Is there any reason why `docker-compose.yml` couldn't be changed to mount user files from separate volumes?  Isn't this basically the same as the dis

[2019-05-26 02:15] ericp96 commented on #100
Yup, persisting the html folder to a standard disk caused the entire site to be slow. I'm guessing if I choose to persist cache to a ssd it would be quicker.
While I realize there may be a few locations, my personal suggestion would be to identify the folders that contain information that should be persisted instead of the entire mautic install. That would force people to be explicit in how they c

[2019-05-26 10:15] luizeof commented on #100
@ericp96 putting www folder on SDD is slow? I Didn't find the point ....

Modifying Mautic following the tips you gave seems a good idea, but there is a problem and I wanted to see the solution with you: How would I execute the migrations and update the schema? would it be in the entrypoint?

[2019-05-27 19:16] aspiers commented on #83
@felipeplets It worked for me.  I'm afraid you are unlikely to receive help unless you give details of the problem you encountered.  Please see https://www.chiark.greenend.org.uk/~sgtatham/bugs.html

[2019-05-27 19:19] aspiers opened #104 "Missing sendmail"
Email delivery doesn't work out of the box because sendmail isn't included in the Dockerfile, so PHP mail can't find it and fails with a cryptic error:

    sh: 1: -t: not found

as explained at https://stackoverflow.com/a/44272240/179332

[2019-05-28 04:49] ericp96 commented on #100
@luizeof Creating a persistent volume claim on a standard disk for the www folder caused a substantial degradation in performance.  Also, there are some issues in mounting the www folder:

- Injecting custom code requires you download a full install of Mautic and then replacing only the files you are concerned with (e.g. config files or theme files)
- Switching between versions of Mautic while per

[2019-05-29 05:26] felipeplets commented on #83
Hello @aspiers, thank you for the link.

Regarding the error I've faced I remember to get no feedback and specific error messages on docker logs, it was just running but I could not access it on the published port, so I could not realize the error or how to reproduce it. I've then installed and used it locally for my tests.

[2019-05-29 05:26] #83 closed

[2019-05-29 16:26] TheBags opened #105 "Enable cron to delete cache"
Hi,
we need a cron to clear the cache.
The only way to manage cron is to access the container in bash and manually add "www-data php /var/www/html/app/console cache:clear --no-warmup" to mautic cron.d.
It would be useful to have an env variable to enable this cron and another env to input the time interval to run it.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](htt

[2019-05-31 11:40] aspiers commented on #100
@ericp96 Sorry, I'm still a little confused what this issue is about.  A person deploying Mautic via Docker has multiple choices to make:

- whether the Mautic container is on standard disk or SSD
- whether the cache goes inside the container (i.e. no separate volume), or in a  volume on standard disk, or in a volume on SSD
- whether the logs goes inside the container (i.e. no separate volume), or

[2019-05-31 12:00] TheBags commented on #100
@aspiers
I can made a personal example.
We're deploing on Amazon's K8s.
The persistem volume /var/www/html is on an "efs" filesystem because cost reduction.
This filesystem is really slow, so we had to change the temp from /var /www/html/ app/cache to /tmp/cache so to have the cache on the pod instead of onto the persistent volume.
This operation can be done "only" after the initial configuration

[2019-05-31 12:29] aspiers commented on #100
Yes thanks, this is a good example of a scenario where the wrong backing storage can harm performance.  But it's nothing to do with persistence per se.  It would also be slow if you deployed the container on `efs` without any volume.  So it does not prove that *persistence in general* causes slow performance, so I don't understand why this issue's title is claiming that.

[2019-05-31 12:38] ericp96 commented on #100
@aspiers As a user of this image:

I don't care if my cache or the mautic install persists
I do care that my configuration persists

Given my use case, I would like to not pay for a premium ssd. Since I didn't understand the mautic architecture included a built in cache

[2019-05-31 12:55] aspiers commented on #100
@ericp96 I agree 100% with that use case, and I also agree that this repo needs to handle volumes better for sure, to allow users flexibility in their choice of backing storage for code vs. config vs. cache vs. logs vs. anything else.

But I still think it's incorrect for this issue's title to say "slow performance due to persistence".  AFAICS there's no inherent poor performance when using volume

[2019-06-05 17:27] UtenteWeb opened #112 "Problem with the mysql database while starting Mautic with docker-compose.yml"
Hello everyone,
I am writing to tell you about a problem I had while starting Mautic with docker-compose.
After creating the file docker-compose.yml, after pasting the example code in the page dedicated to Mautic's image on the Docker Hub, I executed the command docker-compose up, and the output I received was the following:

Recreating progettodockermautic_mariadb_1 ... done
Recreating progettodo

[2019-06-07 12:48] ka4a commented on #20
adding this in index.php solve this issue
$_SERVER['HTTPS'] = 'on';

[2019-06-08 13:22] aspiers commented on #104
Hmm, I tried installing sendmail and it still didn't work, so maybe I missed something else too.

[2019-06-08 13:47] aspiers commented on #20
[**@ka4a**](https://github.com/ka4a) commented on [June 7, 2019 1:48 PM](https://github.com/mautic/docker-mautic/issues/20#issuecomment-499871661 "2019-06-07T12:48:17Z - Replied by Github Reply Comments"):

Interesting - [it has been suggested](https://github.com/mautic/mautic/issues/7577#issuecomment-498616667) that this kind of approach can also fix https://github.com/mautic/mautic/issues/7577.

[2019-06-10 11:16] luizeof commented on #112
You need to setup the database

The compose.yml is inly a example

[2019-07-03 11:30] StoppingBuck opened #114 "Dockerfil on Docker hub is outdated"
Needs to be updated to 2.15.1
The beta images need to be updated to 2.15.2

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://app.bountysource.com/issues/76412663-dockerfil-on-docker-hub-is-outdated?utm_campaign=plugin&utm_content=tracker%2F20392502&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://app.bountysource.com/?utm_camp

[2019-07-06 12:08] ArjonBu commented on #2
Will this issue ever get attention? Does anyone have an alternative how to do it? I created a mautic-operator for kubernetes https://gitlab.com/ArjonBu/mautic-operator but the persistent storage is not yet taken care of.

[2019-07-11 18:24] regevbr opened #115 "cron jobs are not running"
This is caused because of the wrong 777 permission on the cron file.

[2019-07-12 10:05] sriram18981 commented on #112
Hi, I am having the same issue. I tried with the plain docker version as the example version (not with docker-compose), and ended up with the same issue as this.
Could you please elaborate on what  needs to be setup as the database? is the MySQL DB up and running and linked to the mautic docker is not sufficient?

Any help on this would be greatly appreciated.

[2019-07-16 11:42] #115 closed

[2019-07-16 11:45] regevbr commented on #114
@luizeof can you please close the ticket after you publish the new docker images?

[2019-07-19 15:24] MikeDaniel18 commented on #100
There is an issue on Mac with docker where mounted volumes take a massive performance hit. Unfortunately it's not going anywhere anytime soon. I think one issue is that these Docker containers are not stateless in the slightest. Configs I can understand using a volume for, but having the entire app in a volume seems like bad practice. I think this repo should be striving to have the code pre-compi

[2019-07-19 15:57] luizeof commented on #104
@aspiers I'd believe that sendmail via localhost is a good pratice... Mautic offers some best options like sendgrid, aws ses, mailjet.

[2019-07-19 17:14] MikeDaniel18 commented on #90
Would like to chime in too that the current structure doesn't make a great deal of sense. The application code should be baked into the container, not compiled into a volume on run. As it stands, there's really no benefit to using Docker in this way and it makes for a very messy container - though I appreciate that using Docker more appropriately would likely invalidate the current upgrade script.

[2019-07-20 16:33] aspiers commented on #104
Yeah I have it working via SMTP to AWS SES now.  But switching to the SES API when https://github.com/mautic/mautic/pull/6977 lands will be even better.

[2019-07-29 17:16] that0n3guy commented on #2
Yeah, this is still a problem.   @mingfang has an old docker image (see this line on his [dockerfile](https://github.com/mingfang/docker-mautic/blob/master/Dockerfile#L38) That would change the config paths to a single location so you could just mount that as a volume.

I'm guessing (not tested) you could just mount the paths found here (https://github.com/mautic/mautic/blob/30909dcdc661951017917f

[2019-08-12 06:57] RafaelAybar opened #121 "Better usage for test branch"
I think that could be a great idea move beta-fpm and beta-apache to the test branch. As far i know, the changes are commited directly in Master, right?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://app.bountysource.com/issues/78599916-better-usage-for-test-branch?utm_campaign=plugin&utm_content=tracker%2F20392502&utm_medium=issues&utm_source=github)** We acc

[2019-08-12 08:52] aspiers commented on #121
I'm not convinced (yet, but open to be persuaded).

Doing this would mean that any changes common to both branches would need to be manually ported from `master` to `test`.  It would be extra work for questionable benefit and also it would be extremely easy to forget to do that for some changes, resulting in `test` diverging from `master` in undesirable ways.

So what would the benefits be?  Would

[2019-08-12 09:15] RafaelAybar opened #122 "Fix POSIX syntax"
Hi, i was editing de docker-entrypoint.sh script and when I ran [shellcheck](https://github.com/koalaman/shellcheck) i saw this warning:

![imagen](https://user-images.githubusercontent.com/21227176/62855369-5e32b600-bcf2-11e9-8129-39f1cfa57cac.png)
Here you are the docs that i have read to solve  it, also i will send a PR with the fix.
https://github.com/koalaman/shellcheck/wiki/SC2166

[2019-08-12 11:13] luizeof commented on #122
many thanks @RafaelAybar !!!

[2019-08-12 11:13] #122 closed

[2019-08-12 12:49] RafaelAybar opened #124 "Errors building beta-fpm docker images"
Hi, i am trying to build fpm-beta docker image, but i have the following errors:
[code]

[2019-08-16 15:36] xbenjii opened #125 "Increase max_input_vars for batch requests"
I'm not actually sure what the new limit should be, but `max_input_vars` is set to 1000 by default.

In my use-case I had 9 fields on my post request and it was failing after 111 entries (200 being Mautics max batch limit).

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://app.bountysource.com/issues/78866098-increase-max_input_vars-for-batch-requests?utm_campai

[2019-08-16 15:44] bohuspollak commented on #112
Use following setup with correct MAUTIC_DB_HOST=172.17.0.2 for your environment.
Find IP using this way:
docker ps
docker inspect <CONTAINER ID from previous step>| grep IP
--- docker-compose.yml --
mautic:
  image: mautic/mautic:latest
  links:
    - mauticdb:mysql
  ports:
    - 8081:81
  volumes:
    - mautic_data:/var/www/html
  environment:
    - MAUTIC_DB_HOST=172.17.0.2
    - MYSQL_PORT_330

[2019-08-19 01:57] tomingoglia commented on #124
@RafaelAybar it appears as if the directory doesn't exist when trying to create this file.
If you add the code below it will create the directory if it doesn't exist and not error out. I added this after line 37 in makeconfig.php:

[code]

[2019-08-20 15:11] ebrake commented on #89
In case other people run into this, you can disabled the ip check directly in `app/middlewares/Dev/IpRestrictMiddleware.php`

[2019-08-21 13:02] mikob opened #127 "Push latest to dockerhub, describe fpm"
What is `latest` is it apache or fpm? Also what is fpm? I'll be happy to update the README if someone can help me with those terms.

Lastly, 2.15.2 is not on dockerhub.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://app.bountysource.com/issues/79137813-push-latest-to-dockerhub-describe-fpm?utm_campaign=plugin&utm_content=tracker%2F20392502&utm_medium=issues&u

[2019-08-21 16:46] mikob commented on #124
@tomingoglia I have the volume mapped but still get the permission issues. I see the owner of the directory in /var/lib/docker/volumes is www-data on my host at least.

[2019-08-21 17:01] mikob commented on #127
after a couple days, I haven't been able to get this docker-mautic image working. 2.15.1 wouldn't save my email settings, and 2.15.2 I can't even get to the dashboard.

With 2.15.2 first I had the same issue as #124, once I manually added the configuration file, I get a 403 on the dashboard and I see this in the logs: `[CRON] Could not open input file: /var/www/html/app/console` Probably some perm

[2019-08-21 20:29] tomingoglia commented on #124
@mikob, I may have done a chmod to 777 before I tried the cache warmup. I'm still researching what the right permissions should be for production. Pretty much hit it with a hammer at this point.

[2019-08-22 06:32] RafaelAybar commented on #124
@tomingoglia I will take a look later, I am busy with other projects, but i will try this fix as soon as a I can. Thanks!

[2019-08-27 23:17] aspiers commented on #100
Any chance of a URL?  However, that still wouldn't really justify the title of this bug, because the term "persistence" generally refers to any non-volatile storage, not just docker volumes.

I agree that the application code should be in a prebuilt container image.  IIUC the challenge is that currently Mautic puts not only the application code under `/var/www/html`, but also the log files, cache,

[2019-09-12 09:27] nguyencongvu opened #129 "Error : net::ERR_TOO_MANY_REDIRECTS when clear cache"
I install mautic docker successfully in my ubuntu VPS, and enable API in Configuration.
However, I got error net::ERR_TOO_MANY_REDIRECTS any time clear cache (by rm -rf /app/cache or run php consol
Any help?

[2019-09-13 01:53] ericuldall opened #130 "Issue with MySQL in using docker-compose in example"
MySQL is failing with the following in the logs:

[code]

Any idea why this is happening using the example compose file?

[2019-09-14 14:06] robov opened #131 "Upgrade to mautic 2.15.2 ?"
Upgrade to mautic 2.15.2 ?

[2019-09-14 20:16] toman commented on #112
I had the same issue but finally got this docker-compose.yml file to work. https://gitlab.com/snippets/1894892 .    I guess there must be a difference between how the Percona and MySQL images are built because MySQL logs showed a login failure.

[2019-09-15 15:55] soundzgoood commented on #114
@luizeof I also would be very interested in up to date docker images. Thanks a lot for this awesome work!

[2019-09-16 06:24] soundzgoood commented on #131
Hi everyone, it seems like mautic is updated to 1.15.2 in the git repository but still on 1.15.1 on docker hub https://hub.docker.com/r/mautic/mautic/dockerfile
Would be super happy to have the official dockerfiles also updated for download.
Thanks a lot!

[2019-09-16 09:54] #102 closed

[2019-09-17 09:46] StoppingBuck commented on #131
I was the one who created the issue to get the docker image to upgrade from 2.15.0 to 2.15.1. I think we need a more stable procedure for this stuff. Right now, the docker image always seems obsolete :/

[2019-09-17 12:08] robov commented on #131
There is also an upgrade script to run it yourself. Just run the script inside the container

[2019-09-17 15:49] robov commented on #131
I am still testing out mautic, so my db is clean and I have no plugins. Upgrading worked, but the migration step was extremely slow...(I have not dived in what happend there)

[2019-09-19 21:58] ericuldall commented on #130
Issue was due to mounting error on mysql drive. I just removed that option in the compose file and it worked fine.

[2019-09-19 21:58] #130 closed

[2019-09-30 21:07] eltonjosesouza commented on #112
not work for me  :´(

[2019-10-15 07:14] GuidoDr commented on #114
any plan to update it to 2.15.3?
It still is currently on 2.15.1. I do see another issue opened fot the update on 2.15.2.
Thanks for the docker images.

[2019-10-18 01:57] goodscrimshaw opened #132 "Connection Refused with the Percona Mysql when starting Mautic"
Could use some advice on how to trouble shoot.

I used the exact step by step terminal commands titled "Running Basic Container".
![image](https://user-images.githubusercontent.com/56464509/67059936-fdc45880-f128-11e9-985a-380492dd6385.png)

This is what I am getting in the Mautic container log and nothing for local host in the browser.

![image](https://user-images.githubusercontent.com/56464509/

[2019-10-18 23:22] goodscrimshaw commented on #132
I got it

**TLDR: It works if you modify the running mautic code listed on the [README](https://github.com/mautic/docker-mautic#running-basic-container) by following steps to find IP in #112 BUT ALSO you specify the DB port after the IP.**
 _Using the example results correct IP of 172.17.0.2 and DB port of 3306_
[code]
Using the steps in #112 to find your IP, my thought was to just update Running

[2019-10-18 23:22] #132 closed

[2019-10-31 12:57] GuidoDr commented on #114
@luizeof I saw that you contacted the persons of the open PRs 16 days ago.
Any plan until when 2.15.3 will be available als docker image?

[2019-11-03 03:13] #69 closed

[2019-11-03 03:13] #78 closed

[2019-11-03 09:59] sr-verde opened #135 "Cannot acces 'app/config/local.php'"
Mautic in Docker does not start. Here is the log:

[code]

Thats my docker-compose:

[code]

[2019-11-04 05:56] ojonesjr commented on #135
I too am having this exact issue. How can we get a modern version of the docker-compose file, since this is a version 1.0 file and compatibility is going back to 2017.

[2019-11-04 06:42] ojonesjr opened #136 "docker-compose.yml process exits prematurely with errors"
When trying to run the following, taken from your example, the process fails and all containers exit. This same issue happens both on https://labs.play-with-docker.com/ and on my personal docker setup. This is the example code that you have:

[code]

And this it the errors that I get:

[code]

chown: cannot access 'app/config/local.php': No such file or directory

**Any advise would be sincerely a

[2019-11-04 09:20] cboehme commented on #135
This problem seems to be caused by commit 7c8432d80a000291353211eda477f3059361e0f6 that updated the if-condition which checks whether the sources have already been copied to `/var/www/html/`. The new condition fails to evaluate to true if both files are missing.

I will prepare a pull request to propose a fix for the problem tonight.

[2019-11-04 09:43] sr-verde commented on #135
Thanks, @cboehme.

[2019-11-04 11:48] sr-verde commented on #136
Have a lookt at: #135

[2019-11-04 12:13] luizeof commented on #135
@sr-verde  running on osx?

[2019-11-04 12:42] #135 closed

[2019-11-04 12:42] sr-verde commented on #135
No, running on Alpine Linux.

[code]

[2019-11-04 12:43] sr-verde commented on #135
Thanks for fixing!

[2019-11-04 12:48] luizeof commented on #135
I´m building new image on Dockerhub ;)

[2019-11-04 15:38] madmath03 commented on #135
Hi @luizeof ,

I also encountered this issue and wanted to fix but found this thread.

Instead of doing a _rollback_ of 7c8432d, can't we have both the fix and original "_code quality improvement_" ?
Something like this :
[code]

[2019-11-04 20:22] ojonesjr commented on #136
Same issue being resolved in #135

[2019-11-04 20:22] #136 closed

[2019-11-08 03:59] MattBred opened #140 "Image thumbnails broken because gd extension missing, and other issues"
Using `mautic/mautic:latest`

When using the template builder, if I go to preview photos, I get a bunch of broken thumbnails. Navigating to the URL of the thumbnail image gives me this error

`{"Error":"WideImage requires the GD extension, but it's apparently not loaded.","Code":"-1","Properties":{"Date Created":null,"Date Modified":null,"Height":null,"Width":null,"Size":null}}`

After installing

[2019-11-12 20:55] lquessenberry commented on #132
Worked solid for me!

[2019-11-21 19:17] alxmhe opened #141 "500 Internal Server Error on fresh install"
When setting up from a fresh install, I get a 500 Internal Server Error on step 2.
The error log is the same as this issue (fixed) :

#https://github.com/mautic/mautic/issues/7848

[2019-12-05 19:43] tcurdt opened #142 "latest docker image causes 500 error when finishing the install"
## Bug Description

A fresh install via `docker-compose` fails during admin account creation (showing a 500).
I can go to `http://localhost:8080/installer/step/2` and try again, but whatever I put in it shows the same error.

| Q   | A
| --- | ---
| Mautic version | Docker image c88348b3ef3796e699c2c117db2739152587493eabdb39ca7680cb8621f6a310 (latest)
| PHP version | (see above)
| Browser | Google

[2019-12-05 19:50] RCheesley commented on #142
@tcurdt I've moved this to the Docker repo which I think is the most appropriate place for the issue :) Pinging @luizeof

[2019-12-05 20:05] tcurdt commented on #142
@RCheesley Sorry - picked the wrong tab. Thanks for the transfer!

[2019-12-06 06:00] #141 closed

[2019-12-06 06:00] #142 closed

[2019-12-06 06:05] luizeof commented on #129
did you use some reverse proxy?

[2019-12-06 06:06] luizeof commented on #140
thanks for reporting ... I'll work on this today.

[2019-12-06 10:57] tcurdt commented on #142
@luizeof at least for me this hasn't fixed the issue yet

With the current `docker-compose.yml` I am getting:

[code]

I modified the old one to

[code]

but I am still getting the very same problem on step 2.

Could you elaborate what's going on?

[2019-12-12 03:55] gustafsilva opened #144 "Error in default language setting"
:clap: Hello, I was able to install mautic with the example using `nginx`, `ssl` and `docker-compose`.
But when I set the default language (for *Portuguese/Brazil*) it does not change.

**Attempts:**
- I logged out and logged in again.
- Restarted the server.
- I restarted my pc.

[2019-12-12 21:55] gustafsilva commented on #144
I managed to solve the problem by simply removing the `app/cache` folder. :+1:
I found the solution in the forum... :+1:

[2019-12-12 21:55] #144 closed

[2019-12-13 00:33] elitekode2 opened #145 "Issue with deployment"
Trying to deploy via docker..

Getting issue

`5.7.28-31�=��T#ysDfC�ÿÿ-�ÿÁ����������O<2r/dpK(|�mysql_native_password���ÿ„Got packets out of order`

and

`
MySQL Connection Error: (2002) Connection refused

Warning: mysqli::__construct(): (HY000/2002): Connection refused in /makedb.php on line 20

Ensuring Mautic database is present
`

[2019-12-13 00:45] elitekode2 commented on #142
I am getting the same issue still with docker-compose as well

[2019-12-13 10:17] tcurdt commented on #142
@elitekode2 TBH I don't see the big difference between the two docker compose files but I manage to start it up with the following.  Maybe it works for you, too?

[code]

[2019-12-16 11:39] GFWagnitz commented on #140
@luizeof I just sent up the PR #146 addressing this issue, that was a problem my team was also dealing with.

[2019-12-16 14:40] naaando opened #147 "Environment variables pointing to localhost"
Mautic is not respecting site_url configuration and some cases it uses it's local servername and port, generating urls as localhost:xxxx for sent e-mails and public previews. am I able to change this with docker-compose env variables?

[2019-12-24 23:31] sheksushant commented on #142
I am getting the same issue on a DO droplet with Docker version 19.03.1, build 74b1e89 on Ubuntu 18.04

[2020-01-29 16:31] madmath03 opened #149 "Mautic 3"
Is there any plans to upgrade this docker images for Mautic 3 or would you prefer to provide the both of them ?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://app.bountysource.com/issues/88563336-mautic-3?utm_campaign=plugin&utm_content=tracker%2F20392502&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://app.bountysource.com

[2020-03-27 10:23] nickwild-999 commented on #112
Yes to be clear this process should work:
1. find `CONTAINER ID` of percona server with `docker ps`
2. find IP address of container with `docker inspect CONTAINER ID | grep IPAddress`
3. change MAUTIC_DB_HOST in script to
`MAUTIC_DB_HOST=IPAddress:3306`

[2020-03-27 16:29] RCheesley commented on #149
@luizeof any thoughts on this?

[2020-03-27 16:30] RCheesley commented on #131
Closing this issue as we're now on 2.16.1 so it's somewhat irrelevant :)

[2020-03-27 16:30] #131 closed

[2020-03-28 20:04] luizeof commented on #149
@RCheesley i'm working on a container to do this ;)

[2020-04-01 22:13] RCheesley commented on #2
@luizeof has this issue had any progress recently? Perhaps we can get to sorting out how we should work with volumes and document it appropriately so we can close this 4+ years old issue down?!

[2020-04-01 22:45] luizeof commented on #2
Hello @RCheesley, Mautic is a little different from most apps that have already been designed for this microservice reality.

Volumes is the biggest example, by default, for a novice user (considering a novice who doesn't know how to handle docker volumes), by default, we use the entire / var / www / html folder. The whole application is there and it is much easier to change the image that only pr

[2020-04-01 22:49] luizeof commented on #2
Mautic is more than 4 years old and only now it seems that we have a viable and modern documentation area. I believe it is possible to create a specific area for Docker there now. Ping me at Slack.

[2020-04-06 10:58] luizeof commented on #147
Hello @naaando  this is an issue related to Mautic itself and not to Docker, however I believe this bug was fixed in 2.15.2 ... could you confirm please?

https://github.com/mautic/mautic/pull/7193

[2020-04-06 11:03] luizeof commented on #145
I am closing this issue because it is old, but if you still encounter problems could you reopen informing how is compose.yml?

[2020-04-06 11:03] #145 closed

[2020-04-08 20:40] petersondmg commented on #2
Hello @luizeof, I would like just to share some thoughts

I think it would be nice not to depend on volumes for non system wide config options. It would be more flexible if some configs (interface configs) were stored on db itself.
Also for media files, maybe the ability to set a custom script to handle the files and upload on a CDN for instance, just keeping track of the files on db could remove

[2020-04-09 00:21] luizeof commented on #2
Hello @petersondmg  I believe this is related to Mautic itself and not to Mautic Docker. Mautic 3 has more features to make the container more effective.

[2020-04-29 12:07] panchtatvam commented on #59
I'm facing the same isssue. Mautic seems to work with SSL (465) but not with TLS(587).

[2020-04-29 13:34] pxPP commented on #129
same problem since I changed the URL in the settings to https ...

[2020-05-01 10:41] jenshine opened #161 "Not able to access http://localhost:8080 or http://host-ip:8080 to test out Mautic"
Hi there!
I followed the instructions on http://hub.docker.com/r/mautic/mautic to test out Mautic using a docker container I created through a droplet on DigitalOcean. All these technologies are new for me (as in I'm just trying it for the first time today). I'm not exactly sure where it's breaking.

When I execute 'docker-compose up', it looks like everything worked despite some error messages .

[2020-05-02 05:09] jenshine commented on #161
Figured it out!

[2020-05-05 17:22] luizeof commented on #129
@pxPP  did you use some reverse proxy?

[2020-05-08 14:52] aiac commented on #59
Hello! It took couple of hours to investigate that, but finally I found issue. In my case it was TLS version constant with PHP 7.1. It changed on versions 5.6 above.

Try changing `STREAM_CRYPTO_METHOD_TLS_CLIENT` to `STREAM_CRYPTO_METHOD_TLSv1_2_CLIENT` (or other version) in _/mautic/vendor/swiftmailer/swiftmailer/lib/classes/Swift/Transport/StreamBuffer.php_

[2020-05-12 14:38] FMSGiganti commented on #59
@aiac Thanks a lot ! To me finally it works in PHP 7.3 with this change.

[2020-05-13 15:30] rucksman opened #162 "Language not working properly"
After 3 years I again started to work with Mautic and currently run this docker container.

When changing the account configuration to language "German", although the language files are downloaded, I still get only english. There is also no language change when changing the system default language.
When changing the account configuration to language "Italian", language files are downloaded and the

[2020-05-14 11:54] luizeof commented on #129
if you are using some reverse proxy, you need to add a trusted proxy to your 'local.php' config

[2020-05-14 11:54] #129 closed

[2020-06-12 09:01] alexhammerschmied commented on #162
You have to clear the cache. Then reload the page and voila! It should work.

[2020-06-12 09:21] PhilippeAccorsi commented on #162
I have clean all cache in my Firefox 68.9.0esr (64 bits), and nothing change. Interface stay in English.
I have check and French language is download correctly (file available in docker volume), but interface stay in english.

Same with Chrome 83.0.4103.97

I'm on Debian Buster.

[2020-06-15 10:00] alexhammerschmied commented on #162
You have to clear the cache on your Mautic instance. This has nothing to do with your browser.
Just clear everything inside the cache folder in mautic somewhere here:  ../mautic/app/cache/*

Also see: [https://docs.mautic.org/en/troubleshooting]

[2020-06-17 12:39] rucksman commented on #162
Deleting the cache worked for me.

[2020-06-17 12:39] #162 closed

[2020-06-17 12:44] rucksman commented on #149
Any progress on this? Although the description on Docker hub suggests that "mautic/mautic:latest" would fetch v3, it still pulls only 2.16.0. Even pulling mautic/mautic:v3.0.0-beta (which is to be found on Docker hub in "Builds") just gives me 2.16.0.

[2020-06-17 13:25] rucksman commented on #149
My fault: after cleaning up my volumes at least mautic/mautic:v3.0.0-beta did work.

[2020-06-17 14:53] eximius313 commented on #149
Shouldn't "latest" be 3.0.0 since it was already released?

[2020-06-18 20:42] renanwilliam opened #163 "Pipedrive Synch - Companies Duplicated in Pipedrive"
I have a problem in fetching Organizations from Pipedrive to Mautic. The scenario is:

- Pipedrive integration is off and never executed before
- I'm already have loaded company data in Mautic manually using a CSV file based on Pipedrive data.
- Turned on Pipedrive Integration
- Executed the command `php app/console mautic:integration:pipedrive:fetch`
- The output is:
[code]
 - Note that is pagina

[2020-06-18 20:43] renanwilliam commented on #163
Wrong repository

[2020-06-18 20:43] #163 closed

[2020-06-23 21:37] rori4 commented on #37
I have the same issue. Over to the mautic repo they say its not a mautic issue but a server configuration problem.
I went over the suggestions in https://github.com/mautic/mautic/issues/7577 with no luck

I use this setup as in the ssl example: https://github.com/mautic/docker-mautic/tree/master/examples/mautic-example-nginx-ssl

Any suggestions?

[2020-06-24 09:30] rori4 commented on #37
Ok adding `$_SERVER['HTTPS'] = 'on';` to the `index.php` seems to have resolved the issue.

To get inside the docker bash type: `docker exec -it <mautic_container> bash`

And to edit the `index.php` add `nano` or `vim`
e.g: `apt update && apt install nano`

[2020-06-24 15:35] rucksman commented on #149
Is this still maintained? Or should we rather build our own Dockerfile?

[2020-07-01 22:33] gabrielpeixoto commented on #149
I use mautic on the docker on my server.

What happens if I update this inside the system (/s/update)? I did this once from 2.16.2 to 2.16.3.

![image](https://user-images.githubusercontent.com/3699061/86297427-b0fab200-bbd1-11ea-8bbc-4d1c5f40208b.png)

Is there a guide on how to update for docker users?

[2020-07-15 12:27] fago opened #164 "Outdated php version (7.1)"
According to php.net 7.1 is not supported any more, so this should be udpated to a secure version:
https://www.php.net/supported-versions.php

Since 7.2 security supports only lasts until 30 Nov 2020 also, I'd suggest updating to php 7.3 or later.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://app.bountysource.com/issues/92075908-outdated-php-version-7-1?utm_

[2020-07-15 12:56] fago commented on #149
I just upgrading it using the usual update script. IT fails related to #164:

- Your MySQL/MariaDB version is not supported. You need at least MySQL 5.7.14 or MariaDB 10.2 in order to run Mautic 3.

[2020-07-29 15:53] er1c opened #165 "Broken README.md image"
![image](https://user-images.githubusercontent.com/64685/88822633-f67eb080-d178-11ea-8bd2-f2b8ba4dead0.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/92652072-broken-readme-md-image?utm_campaign=plugin&utm_content=tracker%2F20392502&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bounty

[2020-08-02 22:21] nilyin commented on #90
I also support the idea to separate app code location from user's data so we could mount these volumes separately. Also web server would be better to separate as well, as docker's idea is a single process containers. So please publish a recommended docker-file for: mautic app + php-fpm, nginx, cron, maridb containers.

Now I don't understand how to use fresh mautic docker images to upgrade my exis

[2020-08-03 15:24] rvalle commented on #90
@nilyin that is the point.

IMHO the ideal mautic distribution would be:

- Compose file with each process in its container
- Codebase (including plugins) distributed in the image (versioned matching mautic codebase)
- Configuration via environment variables (including which plugins should be enabled).
- Data in a separate volume (including data only, excluding mautic/plugin code).

benefits:
- up

[2020-08-05 13:26] nilyin commented on #90
++

another potential benefit is that we can implement Mautic multi-tenancy (multiple own mautic Langing pages on same host or cluster) by using containers' separation with one dedicated container for database server.

[2020-08-05 16:23] nilyin opened #166 "remove apt pinning from Docker image"
Hi, what's the reason you put pinning to 7.1.33 in mautic 2 latest image? I mean file: /etc/apt/preferences.d/no-debian-php

I spent 2 days trying to upgrade my setup's php version in yhis docker image with a goal to run mautic v3 migration script (which requires at least php7.2). The error apt throws is not specific and misleading (actually there is a bug issue in Debian community on that).

BTW,

[2020-08-06 12:13] Unichron commented on #82
do you plan to upload at least the latest v2 image(s) to dockerhub?

[2020-08-06 14:27] Unichron opened #167 "v2 tag missing from dockerhub"
In the docs you say use v2 tag if you want to stay on v2 but there is no such tag on dockerhub.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://app.bountysource.com/issues/92652070-v2-tag-missing-from-dockerhub?utm_campaign=plugin&utm_content=tracker%2F20392502&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://app.bountysourc

[2020-08-09 12:28] malikkirchner opened #168 "Running as non-privileged user"
Currently the container must run as root. It would be more secure to run as www-data. For that to work the used ports should be above 1000, e.g. 8080 and 8443. Also there are some issues with write access to /var/log, /var/run and /usr/local/etc/php.

[2020-08-15 23:11] madmath03 opened #171 "[BUG] Bad cron for geoip db"
https://github.com/mautic/docker-mautic/blob/492fc1bbf0e011d25ce357c648d5269f081714d7/common/mautic.crontab#L19-L20

It should be `php /var/www/html/bin/console mautic:iplookup:download`

[2020-08-16 20:15] dennisameling opened #173 "New install command available: mautic:install"
Starting with Mautic 3.1, a new installation command is available: `bin/console mautic:install`. More details can be found at https://github.com/mautic/mautic/pull/7395

Thought it might be worth sharing here, not sure if it could benefit the Docker image in any way 👍

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/92652065-new-inst

[2020-08-28 01:02] gzcwnk opened #174 "docker compose file error"
[root@vuwunicopatch8b mautic]# docker-compose up -d
ERROR: Service "mautic" uses an undefined network "mauticnet"
[root@vuwunicopatch8b mautic]#

Something missing out of the std file provided?

========
version: "2"

services:
  database:
    image: powertic/percona-docker
    container_name: database
    environment:
      MYSQL_ROOT_PASSWORD: mypassword
    ports:
      - "3306:3306"
    volume

[2020-08-28 01:14] gzcwnk commented on #174
Think just missing 2 lines on the end?

======
version: "2"

services:
  database:
    image: powertic/percona-docker
    container_name: database
    environment:
      MYSQL_ROOT_PASSWORD: xxxxxxxxxx
    ports:
      - "3306:3306"
    volumes:
      - /home/mautic/mysql:/var/lib/mysql
      #- database:/var/lib/mysql
    #restart: always
    restart: unless-stopped
    networks:
      - mauticne

[2020-08-28 01:16] gzcwnk commented on #174
however the database is in a restart loop so not happy  :(

[2020-08-28 01:30] gzcwnk commented on #174
8><-----
 20
mautic      |
mautic      | MySQL Connection Error: (2002) php_network_getaddresses: getaddrinfo failed: Temporary failure in name resolution
mautic      |
mautic      | Warning: mysqli::__construct(): php_network_getaddresses: getaddrinfo failed: Temporary failure in name resolution in /makedb.php on line 20
mautic      |
mautic      | Warning: mysqli::__construct(): (HY000/2002): ph

[2020-08-28 10:02] ahilles107 commented on #149
we have 3.1 already released

[2020-09-22 09:18] Bellusterra commented on #149
@ahilles107 docker pull mautic/mautic:v3 pulls 3.0 from docker hub. Does something need to be added/changed to pull 3.1?

[2020-09-29 10:28] sarcaustech commented on #174
Got the same error in first place. Check if the database service's log contains `mysqld: Can't create/write to file '/var/lib/mysql/is_writable' (Errcode: 13 - Permission denied)`.
I was able to solve this by changing the permissions of the directory I mounted to mysql service. Since it's for local testing only, I was fine with `chmod 777`, but you don't want that in any other stage.

Better solut

[2020-09-29 19:08] lapkritinis opened #175 "Security issue password should be masked in log file"
There is no good reason to log the database password into a log file.
The culprit is lines like these:

echo >&2 "Database Password: $MAUTIC_DB_PASSWORD"

Reference doc:
https://cheatsheetseries.owasp.org/cheatsheets/Logging_Cheat_Sheet.html#data-to-exclude

[2020-09-29 21:58] magnoeasy commented on #174
version: "2"

volumes:
  database:
  mautic_data:

services:
  database:
    image: powertic/percona-docker
    container_name: realizamautic
    environment:
      MYSQL_ROOT_PASSWORD: oO5kR9yG6dV1aT6z
    ports:
      - "3306:3306"
    volumes:
      - database:/var/lib/mysql
    restart: always
    networks:
      - mauticnet
    command: --character-set-server=utf8mb4 --collation-server=utf8mb

[2020-10-22 23:09] CodeBradley opened #177 "Tables Not Getting Created When Using the docker-compose.yml in the Readme"
When using the default docker-compose.yml in the readme:

[code]
With the following version of docker-compose:
docker-compose version 1.26.0, build d4451659

I get the following errors where tables are not being created which can also be found mentioned in issue https://github.com/mautic/docker-mautic/issues/142

[code]

I couldn't figure out the solution to this problem, so I took the docker-comp

[2020-10-22 23:17] CodeBradley commented on #149
Any updates on this? I'm interested. Ty

[2020-10-31 11:39] jenslaufer opened #181 "Mautic unusable after upgrade 3.1.1 -> 3.1.2"
## Bug Description

I am running mautic with docker-compose with the following configuration

[code]
traefik.toml:
[code]
traefik/dynamic/force-https.toml
[code]

After the upgrade to 3.1.2 I am getting the error "too many requests" in the browser.
Before everything was fine

| Q   | A
| --- | ---
| Mautic version | 3.1.1 ->3.1.2
| PHP version | unknown as in Docker container
| Browser | Firefox 8

[2020-10-31 23:37] J-Light opened #178 "Integration sync not working in CRON - incorrect file path"
Version 3 has incorrect paths for cron entries. This is causing SugarCRM sync to fail.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://app.bountysource.com/issues/93803342-integration-sync-not-working-in-cron-incorrect-file-path?utm_campaign=plugin&utm_content=tracker%2F20392502&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https

[2020-11-02 13:21] loganto commented on #149
@Bellusterra

Ive been running default mautic/mautic:v3 docker -  and updated to 3.1 from CLI just fine.
However not sure if this is what the recommended approach is.

It went something like this:
Get into docker: `docker exec mautic bash`

[code]

[2020-11-03 02:41] Bellusterra commented on #149
@loganto Thank you, I was not familiar with updating this way. I appreciate you taking the time to respond.

[2020-11-05 14:01] linuxd3v opened #179 "PHP error reporting and logging best practices"
I've been looking at mautic 3.0.2 container.
And in my observations php configuration should be tweaked a bit to follow best security practices.

Specifically these parts:
![Screenshot from 2020-11-05 08-55-27](https://user-images.githubusercontent.com/3410509/98250171-217d5b00-1f45-11eb-9e56-ae0aa621dec7.png)
![Screenshot from 2020-11-05 08-55-11](https://user-images.githubusercontent.com/3410509

[2020-11-05 20:40] loganto commented on #149
@Bellusterra no problems.
I've been interested in what is a proper way to maintain / update dockerized mautic in a long run - so I've reviewed all the opened issues. Found some details in these 2 issues:
[code]

Per  maintainer:

TLDR the way I understood it  (happy to be wrong)- mautic mixes data (state) with code by design - in upstream. Which is, well -  le sigh, hate that - but some apps do th

[2020-11-21 20:32] GuidoDr commented on #149
Any update on this topic? mautic/mautic:latest does still pull 2.16.3

And running the upgrade on the console does also not work because the image of 2.16.2 does have an outdated php version :-(
I could only update there at least to version 2.16.3 with the console tasks.
Upgrade to v3 fails.
[code]

Actually the database in my installation is already MariaDB 10.5.8 (so that second error does not s

[2020-11-22 02:04] CodeBradley commented on #177
Can anyone help me out with this?

[2020-11-23 12:10] loganto commented on #149
@GuidoDr
per dockerhub page: https://hub.docker.com/r/mautic/mautic

docker pull mautic/mautic:v3

Note that during the 3.0.x period, the 'mautic/mautic:latest' tag still refers to Mautic 2 for backward compatibility. If you intend to use Mautic 2, use the 'mautic/mautic:v2' tag instead of 'mautic/mautic:latest'.

[2020-11-27 15:00] rodrigoscna commented on #161
@jenshine What did you do to solve it?

[2020-11-27 17:06] stvhanna opened #180 "CRON Docker Image Error"
Mautic v2 and v3 docker images, I get this error when running them:

[code]

[code]

Any ideas of how to solve?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://app.bountysource.com/issues/94766451-cron-docker-image-error?utm_campaign=plugin&utm_content=tracker%2F20392502&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://app.b

[2020-12-04 04:24] hezll commented on #4
*/5 * * * *     www-data   php /var/www/html/bin/console mautic:segments:update > /var/log/cron.pipe 2>&1
to  */5 * * * *     www-data   php /var/www/html/app/console mautic:segments:update > /var/log/cron.pipe 2>&1

Don't know why, but in my case, the program is under app not bin. That's why the docker cronjob can not run.
Please ensure you can manually run php /var/www/html/bin/console mautic:se

[2020-12-04 22:42] tnolle commented on #181
Set the `site_url` in `app/config/local.php` to a domain without `https` like `http://example.com` and delete the cache (`rm -rf var/cache/*`. Afterwards, go to `https://example.com` and reset your `site_url` to `https://example.com` either through the configuration or in the config again. This should solve it.

[2020-12-19 04:50] alderson59 opened #182 "How to Get Mautic 3 on a FRESH Install?"
Only docker for this discussion. I have tried just about every combination I can think of, as far as docker-compose goes.

What is the best way to get the latest Mautic 3 on a fresh install?

For the below, I am coming in on a fresh install with little experience in wrangling mautic's backend.

I have tried spinning up mautic/mautic:v3, but then I get stuck at the start screen
![image](https://use

[2020-12-19 11:05] petebytes commented on #182
Try the following https://gist.github.com/petebytes/eb84d374d72fdd0086164426f94c9e23

[2020-12-19 16:56] alderson59 commented on #182
Thanks. Will test that tonight. Is percona necessary? Won't mariadb work too?

[2020-12-19 17:34] petebytes commented on #182
Perhaps try it as is, if it works, them make changes.
mariadb should be fine

[2020-12-19 21:52] alderson59 commented on #182
So I tried your dc exactly, it works.

When I changed the mount points from volumes to host, perm errors showed up for mysql. And thus the db was not made.
I bypassed this by chowning the dir to 1001:1001 and it works fine.

Then I tried again with mariadb:10.4, with the same parameters as above. Works well.

Here it is in case some future person stumbles upon this issue:

[code]

The dc file I st

[2020-12-19 21:52] #182 closed

[2020-12-20 09:47] GuidoDr opened #183 "docker-mautic no longer maintained?"
Is docker-mautic no longer maintained?

version 2 is still on 2.16.2 eventhough 2.16.4 of mautic is the current version
version 3 is still on 3.0.2 eventhough 3.2.1 of mautic is the current version

I would like to upgrade my docker-compose installation from version 2 to 3 but that is not possible since the current v2 image is only 2.16.2 which does include an outdated php version which is not com

[2020-12-24 12:03] EnziinSystem commented on #183
I believe the trend of the future is that people will run Mautic in container-orchestration like Kubernetes, so I expect the project to upgrade to 3.x soon and maintenance.

[2020-12-26 07:22] EnziinSystem opened #184 "Mautic need to become stateless in the Docker image"
Important:

After running Mautic in docker I noticed a problem with state data retention.
The current scenario is that on boot entry point checks the /var /www/html directory and will copy the source code from /usr/src/mautic if this directory is empty.

[code]

Next will be the new installation and setting up of admin accounts, database information ...
To save the installed information we need to

[2020-12-31 10:52] EnziinSystem commented on #171
I solved it with the guide on the page:

https://mauteam.org/mautic/mautic-admins/solved-maxmind-geolite2-database-not-updating

And change Dockerfile to:
[code]
And change cron file:
[code]

[2021-01-06 19:54] andrew-dixon commented on #181
@tnolle Thanks, this worked getting my newly installed Docker container from 3.0.2 to 3.1.2 and then again from 3.1.2 to 3.2.2 👍

[2021-01-07 09:34] alderson59 commented on #183
I had this issue https://github.com/mautic/docker-mautic/issues/182

And even though I now manage to get it running on v3, I am trying to update it to v3.2.2 (via web interface) - and doing so causes a bunch of errors for me. Campaign builder doesn't work, segments don't work.

Not a dev, so editing code manually a lot to keep it updated is quite time consuming and messy to say the least.

Hoping

[2021-01-07 15:10] alderson59 opened #185 "Reverse Proxy HTTPS for Form Generation embedded on third party site"
So far, there is no way to update Docker Mautic to v3.2, at least not in a stable way that I know how to.
https://github.com/mautic/mautic/issues/9567

I also note that in 3.1, HTTPS behind reverse proxy support was added.
https://github.com/mautic/mautic/issues/8944
https://github.com/mautic/mautic/issues/9499

Since I am now stuck with v3.0.2, here's what I have tried:
1. Added `$_SERVER['HTTPS'

[2021-01-07 15:14] alderson59 commented on #182
Sorry for necro, any ideas on how to get to v3.2.2 from this mautic:v3 image? In a stable way? @petebytes

I tried updating via web (3.0.2 -> 3.1.2, then 3.1.2 -> 3.2.2) but that fails miserably. Segments and form builders all don't work.
https://github.com/mautic/mautic/issues/9567

Will this be updated anytime soon?
https://github.com/mautic/docker-mautic/issues/183

[2021-01-09 04:45] vanerleo commented on #182
Clean install gives an error when trying to run http://localhost:8080/installer/step/0

[code]
![image](https://user-images.githubusercontent.com/4177492/104083296-8d57a900-5291-11eb-82e5-07e040b1bd69.png)

any recommendations?

[2021-01-09 06:20] vanerleo commented on #182
ohh it seems running in incognito mode works

[2021-01-12 12:08] RCheesley commented on #2
@luizeof this is a super old issue and as we have an initiative specifically around improving the install/upgrade process and documentation I have created an issue here: https://github.com/mautic/mautic-documentation/issues/159 to track writing and improving resources relating to the Docker-based installations.

Let's work on setting up some docs in the official documentation!

[2021-01-12 12:08] #2 closed

[2021-01-12 12:51] RCheesley commented on #13
Another one to be added in https://github.com/mautic/mautic-documentation/issues/159

[2021-01-12 12:51] #13 closed

[2021-01-13 10:57] alderson59 commented on #185
UPDATE: referencing mautic/mautic#8944 and mautic/mautic#9499, mautic/mautic#9567, I managed to get my install to v3.2.2, which **should** have reverse proxy support for https.

As best as I could follow, I have added the trusted reverse proxy host and the trusted host to the web config.

I could not change the site URL to https without causing looping redirects.

The embedded form on a third part

[2021-01-13 12:19] alderson59 commented on #185
Ahh, I finally figured it out - had to do this "If you change the Site Address of Mautic General Settings tab to HTTPS (behind a reverse proxy), you can use 0.0.0.0/0 as Trusted Proxies to avoid a redirect loop error. See documentation" - from dockerhub page. https://hub.docker.com/r/mautic/mautic

[2021-01-13 12:19] #185 closed

[2021-01-24 21:16] user592965 commented on #183
The image on docker hub is 6 month old, I was also asking myself if it was abandoned.

[2021-01-27 21:53] paolomainardi commented on #183
The repo is maintained and very well updated: https://github.com/mautic/docker-mautic/tree/mautic3

[2021-01-28 09:04] GuidoDr commented on #183
well, sorry to say, but it does not help if the v3 is now maintained again (was also not maintained for several months until this week) since the v2 is still using an outdated php version which prevents an upgrade to v3.

[2021-02-02 21:58] LogProd opened #186 "The PHP IMAP extension is required in order to enable monitored email features."
Getting this message when trying to setup my monitored inbox. Anyone have a solution to this, please?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://app.bountysource.com/issues/96331147-the-php-imap-extension-is-required-in-order-to-enable-monitored-email-features?utm_campaign=plugin&utm_content=tracker%2F20392502&utm_medium=issues&utm_source=github)** We acc

[2021-02-16 11:38] mausch commented on #184
I think this is caused by https://github.com/mautic/docker-mautic/issues/90 (and there's quite a bit of discussion about this on that issue)

[2021-03-01 19:29] exsesx opened #188 "Docker compose for v3 typo"
PLEASE correct the typo below. Took me about a few hours to get it up and running 🤦🏼‍♂️ 🤕

https://github.com/mautic/docker-mautic/blame/mautic3/README.md#L182 (should be 8080, not 8880 :c)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://app.bountysource.com/issues/96841831-docker-compose-for-v3-typo?utm_campaign=plugin&utm_content=tracker%2F20392502&utm_mediu

[2021-03-01 19:31] exsesx commented on #188
**docker-compose up doesn't work v3** (for people who have encountered or will encounter the same problem)

[2021-03-01 19:43] RCheesley commented on #188
@exsesx how about making a PR to fix this? Would you like any help to get started?

[2021-03-01 21:29] exsesx commented on #188
@RCheesley yeah, I would be glad to create a PR.

[2021-03-01 23:05] exsesx commented on #188
@RCheesley I cannot push a new branch tho...

[2021-03-02 11:01] RCheesley commented on #188
@exsesx please fork the repo and make the PR from your fork. There are more details here on how to make PRs: https://contribute.mautic.org/contributing-to-mautic/developer/code/pull-requests

[2021-03-02 11:02] exsesx commented on #188
@RCheesley Okay, thanks!

[2021-03-02 15:02] exsesx commented on #188
#189

[2021-03-02 15:20] exsesx commented on #188
Are we ready to merge this?

[2021-03-10 16:35] zlmitche opened #190 "Upgrade FPM container to > php-fpm:7.3"
Hey could we request that the the fpm container to use the updated PHP?

Thanks,
Zach

[2021-03-11 20:52] #190 closed

[2021-03-26 03:23] FickleLife opened #191 "Installing Let's Encrypt SSL cert on Mautic 3 on Docker"
Is there a guide/tutorial to installing an SSL cert onto Mautic 3 running under docker?

[2021-03-29 21:23] snoblucha commented on #140
@luizeof I hit this issue today. Also there is missing exif extension to process uploaded file. In the Dockerfile (mautic3 branch) there is wrong include directory, should be

[code]

[2021-05-14 15:08] iBobik commented on #184
I am going to work on this. I just does not know Mautic, could you please help me what to not forget about?

- database and many other settings [can be configured by env already](https://github.com/mautic/docker-mautic#customizing-mautic-container)
- [assets could be stored in S3](https://docs.mautic.org/en/plugins/amazon-s3)
- move code to some other directory and configure Apache docroot there

[2021-05-14 15:12] iBobik commented on #90
I am going to work on this. I just does not know Mautic, could you please help me what to not forget about in #184?

[2021-05-14 15:15] iBobik commented on #184
About database schema upgrades, I can not find info how it works in Mautic. Is there some script to run on each container start?

[2021-05-14 15:16] iBobik commented on #184
I am also going to use Mautic v4 only.

[2021-05-21 22:27] miguelurtado opened #197 "Mautic nead exif php Add docker-php-ext-install exif"
Hello,

Mautic nead EXIF to work whith files field in forms.

Error log:
`mautic.CRITICAL: Uncaught PHP Exception Symfony\Component\Debug\Exception\UndefinedFunctionException: "Attempted to call function "exif_imagetype" from namespace "Mautic\FormBundle\Helper"." at /var/www/html/app/bundles/FormBundle/Helper/FormUploader.php line 154 {"exception":"[object] (Symfony\\Component\\Debug\\Exception\\

[2021-05-30 04:55] acremonezi commented on #197
**Additional info:** This missing php extension makes this issue bellow happens:

https://forum.mautic.org/t/file-form-field-type-does-not-work/19640

[2021-06-12 15:33] nest-don commented on #89
Add your public IP in app/config/dev_hosts array.  This will enable access to this file.

[2021-06-14 02:38] jenshine commented on #161
Wow, sorry, I'm just seeing this question today. Based on what I had posted, it's very likely I was trying to access Mautic via my local IP instead of the virtual server (Digital Ocean droplet) IP.

[2021-06-14 02:39] #161 closed

[2021-07-07 08:36] jenshine commented on #149
Hi all, similar issue. Trying to upgrade Mautic in Docker from 2.16.2 to ideally 3.

After entering into the Mautic container, I ran `php app/console mautic:update:find` and `php bin/console mautic:update:apply`. It confirmed that Mautic 2.16.5 was upgraded successfully, but before continuing to upgrade to version 3.2.4, I tried accessing mautic instance from the browser but was unsuccessful. I go

[2021-07-09 08:51] jenshine commented on #191
Anyone can provide at least a rough workflow?

Is it something like the following?
1) Expose/Connect docker container port 443 to port 443 on the host machine (e.g. Digital Ocean droplet)
2) Enter into docker container
3) Follow basic certbot installation to install SSL certificate

Thank you.

[2021-07-14 12:26] jenshine commented on #149
To upgrade to Mautic 3, I ran upgrade_v3.php. It's asking for PHP upgrade to 7.2. Has anyone tried and successfully upgraded PHP version by creating a Docker container with PHP7.2 and then connecting or linking it to the Mautic container? New to Docker so not having the best results. Thx.

[2021-07-19 06:55] weisisheng commented on #112
Really at a loss.  This doesn't work for me at all.  Once I look up the IP, say '172.17.0.2' then set the host for it while adding the port ":3306", I get the error "Access denied for user 'root'@'172.17.0.4' (using password: Y". It's as if the system can't find the db whatsoever.  TIA for any tips & tricks.  I've been considering hard coding the IP for the dbase container?

[2021-07-31 17:49] iBobik opened #203 "FatalThrowableError: "Attempted to load class "OAuthRequestListener" on upgrade"
I've upgraded Mautic, but it end up on 500 error, probably because caches were not cleared by migrate script - removing cache directory solved issue.

### Steps to reproduce
1. Clean install of 4.0.0-beta - Docker image from PR https://github.com/mautic/docker-mautic/pull/198
2. Upgrade to 4.0.0-rc (by replacing that stateless image)
3. Wait for startup and migrations
4. Error 500

## Logs
PHP log

[2021-08-13 10:36] thinkl33t commented on #203
I've pushed a fix to this in #198 - i'd discovered the same issue in my local branch but hadn't pushed it to github.

[2021-08-16 15:29] dennisameling opened #206 "Consider switching to GitHub Actions for automated Docker Hub builds"
As discussed in Slack (https://mautic.slack.com/archives/C0DMR1DRS/p1628762987006700), Docker has a paid [Automated Builds](https://docs.docker.com/docker-hub/builds/) feature. In the past something was set up by @luizeof but I'm not sure if that was leveraging this feature or something different:

![image](https://user-images.githubusercontent.com/17739158/129588451-f61250ba-08ef-43cf-82e3-5db8fe

[2021-08-16 16:09] RCheesley commented on #206
I have access to DockerHub so I can sort out that side of it! Over to you @luizeof!

[2021-08-19 13:11] #173 closed

[2021-08-20 09:24] fintechee commented on #5
@ahansson89

apt-get install php7.4-imap
phpenmod imap
systemctl restart apache2

This workaround works for me.

[2021-08-25 11:41] mathewmeconry commented on #183
I just asked my self the same question and it is good that we see progress on different branches in this repo.
BUT as long as the docker images are only built and not pushed this doesn't help anybody....
the latest image on dockerhub is again over 4 months old and no releases on github packages.

[2021-08-26 05:23] fama opened #207 "BUG: cron entry mautic:maintenance:cleanup does not work"
The cron entry does not work as it's missing `--no-interaction`

[code]

as described in documentation:  https://mauteam.org/mautic/mautic-admins/mautic-cron-jobs-which-ones-to-use/

I can create the pull request if needed to change to

[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://app.bountysource.com/issues/108499079-bug-cron-entry-mautic-maintenanc

[2021-09-01 10:05] GuidoDr opened #209 "images for 3.3.4 and 4.0.0 not yet on hub.docker.com"
3.3.4 and 4.0.0 have been released two days ago and our mautic 3.3.3 version is showing that an upgrade is available.
But there are not yet docker images for these versions on hub.docker.com .
When will the new releases be available as docker images?

[2021-09-09 16:51] giroto opened #210 "Redirect Problem on AWS ECS with API Gateway"
We are running the 4.0 image on ECS Fargate and using API Gateway with a domain and SSL certificate.
All system works fine but some times, mautic change HTTPS to HTTP. On site URL inside configurations, we are using the domain with HTTPS.
Im trying to investigate furthermore inside .htaccess but until now I got nothing.

[2021-09-09 16:57] RCheesley commented on #210
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-09-09 16:57] #210 closed

[2021-09-11 21:07] user592965 opened #211 "Permissions Errors at Install in Mautic 4.0"
Hello, The last docker image mautic/mautic:v4 can't start (fatal error) because of group writable permissions for files:
/etc/sudoers
/usr/lib/sudo/sudoers.so

linux: ubuntu 20.04 lts
docker-ce: 20.10.8

Mapping the volumes and change the permissions of these files with "chmod 644" (instead of 674 at the origin) solved the issue. But it happens again at each system prune.

[2021-09-22 12:00] Kovah commented on #209
The tags seem to be a total mess. The `latest` tag is more than a year old.
The `v3` tag is dating back to april, but there is a `v4` tag that seems to contain v4.0.0.

[2021-09-22 12:01] RCheesley commented on #209
Waiting on @luizeof to get these deployed. Can we get an update please?

[2021-09-22 12:03] Kovah commented on #209
Let me know if you need help with Docker and CI pipelines. :)

[2021-09-22 12:04] RCheesley commented on #209
@Kovah perhaps you could join #docker on Slack (https://mautic.org/slack to get an invite) - we're definitely keen to have more contributors helping us to manage our Docker workflows :)

[2021-09-22 12:13] AWessel77 commented on #209
If you are deploying anyway maybe you could also fix the `v4` image because the version behind the `v4` tag is "just" `4.0.0-rc`.
https://hub.docker.com/layers/mautic/mautic/v4/images/sha256-33db36813c8469eff11f10214feac580f98dea39a388b97dccf9e63f42083f69?context=explore Line 40

[2021-09-22 12:24] luizeof commented on #209
@AWessel77  I'm updating the image to the final version today .... @Kovah it would be great for someone to collaborate with Mautic Docker, we have a lot of work testing pull #198

[2021-09-22 12:29] luizeof commented on #211
I cannot reproduce this issue. Here when installed in a VPA with docker-ce 20+ on Debian using volumes, it works fine.

[2021-09-22 12:31] luizeof commented on #209
@AWessel77  always remember that the variable MAUTIC_VERSION can be used for you to specify the desired version ;)

[2021-09-22 12:37] AWessel77 commented on #209
@luizeof I knew that, but thanks anyway for the tip. I was just surprised about the rc version label in the frontend as I worked with the v4 image.

[2021-09-22 18:12] user592965 commented on #211
ok, maybe a problem on my side only then related to my setup. By using @iBobik stateless image I don't have this problem anymore.

[2021-09-22 18:25] user592965 opened #212 "Mixed Content HTTPS issue when using Traefik reverse proxy"
Hello,
I use mautic v4.0.0-rc in docker behind a traefik v2 reverse proxy, Mautic itself run without https and traefik add ssl on its side.
I set mautic url link as `http://my-mautic-domain.com` in local.php config to avoid the "too many redirect" error when in set `httpS://my-mautic-domain.com` and on the whole everything works fine, but there are some links that are problematic, for example when

[2021-09-22 19:10] #211 closed

[2021-09-22 19:32] user592965 commented on #212
Problem solved by adding the proxy IP in the trusted_proxies field and changing the url of mautic to https:// in local.php

[2021-09-22 19:32] #212 closed

[2021-09-24 16:48] RCheesley commented on #209
Awesome, thanks @luizeof ! 🚀

[2021-09-24 16:48] #209 closed

[2021-09-28 15:51] MerlinB opened #213 "Mautic on subdirectory - How to prevent redirect"
I am trying to set up mautic on a sub-directory but it will always redirect to `/[some path]` instead of using the sub-directory `/mautic/[some path]`. I am using the mautic4 docker image.

This is working fine for other containers I am running on various sub-directories using the same method. Is there some way to tell Mautic about what directory it is running on?

Here are the relevant parts of m

[2021-11-04 14:26] samuelecarpene opened #214 "Missing docker image for v4-fpm"
The v4-fpm tag is missing in docker hub.
https://hub.docker.com/r/mautic/mautic

Thank you in advance.

[2021-11-17 10:04] rvalle opened #215 "automated installation: cannot set mailer from"
Hi!

I am testing full mautic automated installations today, the following environment settings fail:

[code]
When adding those env vars during automated installation the container seems to crash.

Other mailer settings (host, port, transport...) are processed just fine.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://app.bountysource.com/issues/108499081-auto

[2021-11-17 13:20] rvalle opened #216 "automated instalation: array values"
I am having difficulty performing automated installation configuring array values, such as:

[code]
nothing seems to work, as I keep getting:

[code]

I believe this is implemented by Symphony utility classes, but I cannot find a description of the required format to pass in.

What would be the required environment variable format for the example provided?

[2021-11-17 16:52] rvalle opened #220 "Regression 4.0.2? Redirection loop to same URL"
### Mautic Version

4.0.0

### PHP version

php@mautic-docker

### What browsers are you seeing the problem on?

Firefox

### What happened?

4.0.1 is working fine behind haproxy with SSL termination.
after updating to 4.0.2 a redirect loop is introduced.
the redirect loop is peculiar because it loops to the exact same URL:  ```site_url```

### How can we reproduce this issue?

Step 1:  install ma

[2021-11-22 08:44] MarioP-Dev opened #221 "Database Enviroment variables not working"
### Mautic Version

4.0.0

### PHP version

7.4.25

### What browsers are you seeing the problem on?

Not relevant

### What happened?

I don´t know why Mautic's Docker container is not grabbing the MAUTIC_DB_HOST environment variable. It's grabbing all the other variables except that. So an exception throws indicating the impossibility to connect to the database because it continuously tries to c

[2021-12-01 16:44] fav22 opened #217 "How to change timezone to my local timezone"
Hello , hope you all doing well !

Anyone here know how to change timezone to my local timezone using php on ssh please ?

I want to change the default timezone UTC to GMT +3 Indian/Antananarivo

Thank you all for your hel^p

[2021-12-03 19:11] astanoszek commented on #217
in your docker-compose.yml, section environment set:
- PHP_INI_DATE_TIMEZONE="timezone"
where timezone is one of listed here: https://www.php.net/manual/en/timezones.indian.php

[2021-12-04 13:30] fav22 commented on #217
Hello , thank your reply ! I fix it !

My new problem is why all mail i sent through mautic goes to spam whereas when I send directly from my postal smtp server it falls directly in inbox?

[2021-12-06 08:06] astanoszek commented on #217
I think that this issue should be discussed on https://forum.mautic.org/ as it is not about the bug in docker-mautic

[2021-12-23 20:30] ikus060 opened #218 "Using mautic:v3 image I'm getting the wrong PHP version"
With the following docker compose. I'me getting error message in my browser:
[code]

docker-compose.yml:
[code]

[2021-12-23 20:38] ikus060 commented on #218
Sorry for the noise.
I had some a volume left over from mautic:v4

[2021-12-23 20:38] #218 closed

[2022-01-19 11:58] SanderVanhove opened #219 "Tables not being created in v4 using docker-compose"
I'm using docker-compose to run Mautic version 4, but I'm not able to get the tables to be created. I have tried a bunch of different docker-compose files, but none of them seem to work.

My current docker-compose.yaml:
[code]

The logs of the mautic container:

[code]

Help would be very much appreciated! 😁

[2022-01-19 15:43] SanderVanhove commented on #219
Ok this was something from my end. I tried connecting over https instead of http. The fact that the tables were not yet there was because I hadden't run through the instal yet.

[2022-01-19 15:43] #219 closed

[2022-02-14 00:18] fusillijerry89 commented on #180
Please help.

[2022-02-14 00:18] fusillijerry89 opened #223 "The site is currently offline due to encountering an error. If the problem persists, please contact the system administrator."
The site is currently offline due to encountering an error. If the problem persists, please contact the system administrator.

[2022-02-14 20:36] ScottAMains opened #224 "Cron jobs on fresh mautic docker install not executing"
HI folks.

I have looked around to see where this issue could be laying.
I have a fresh install of Mautic on docker and while enabling the campaigns I am noticing that it's not pushing the campaign at the specified time, or even within the hour of the specified times.

My guess is that the cron jobs aren't being executed properly.

My experience with CLI is pretty basic and I have looked in the do

[2022-02-14 22:25] ScottAMains commented on #224
Answering this so future me, or anyone else looking at it can see the working solution

Execute the cron inside the docker container at "/etc/cron.d" `chmod 0744 mautic`

[2022-02-14 22:25] #224 closed

[2022-04-25 14:37] #223 closed

[2022-04-25 14:37] #217 closed

[2022-04-25 14:44] #221 closed

[2022-04-25 14:47] wget commented on #220
I cannot explicitly reproduce, but I'm clearing and resetting the permissions after each upgrade, explaining maybe why it is working for my side and not yours =)

A few tracks to fix this issue:

1. Clear the cache and fix permissions:
[code]

2. Ensure the cache related settings in `app/config/local.php` are correct and haven't been overwritten during the update.

Feel free to reopen or post your

[2022-04-25 14:47] #220 closed

[2022-04-25 14:48] wget commented on #214
Now available on the Dockerhub. Closing =)

[2022-04-25 14:48] #214 closed

[2022-04-25 14:52] wget commented on #183
Hey there :wave: William from Collabora =) As we are using Mautic for internal purpose in a brand new Docker infra, we are now committing to upstream all our changes and thus maintain this repo. Thanks for the patience as we are just starting to make this happen =)

Closing. =)

[2022-04-25 14:52] #183 closed

[2022-04-25 14:58] wget commented on #167
Indeed the only tag we have for the v2 versions is a per release tag like 2.12-apache or 2.12-fpm. We need to provide a fix for this.

[2022-04-25 14:58] wget commented on #165
Fixed.

[2022-04-25 14:58] #165 closed

[2022-05-26 08:51] ramonchu opened #227 "Mautic latest docker image is two years old"
### Mautic Version

4.2.x series

### PHP version

7.3.27

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Docker latest image is obsolete.

[latest](https://hub.docker.com/layers/mautic/mautic/mautic/latest/images/sha256-1f90b3618469c96ec4df09c14535828543db2bd6475cde075ae08e0c9dd7cecd?context=explore)
docker pull mautic/mautic:latest
Last pushed 2 years ago by

[2022-06-03 09:36] tomekkowalczyk opened #228 "Problem with connect to Database "Access denied for user 'root'@'172.20.0.6' (using password: YES)" when trying to connect""
Hey, I'm having trouble running the tests on DDEV Mautic. Web works no problem

Adres IP kontenera db to 172.20.0.2

![image](https://user-images.githubusercontent.com/39382654/171829432-7f8cbf4c-7492-4c34-aa1a-68b3e429d012.png)

[code]

Adres IP kontenera db to 172.20.0.2
[code]

[2022-06-09 05:58] mcnaveen commented on #227
When I changed the mautic version from `latest` to `v4` the container keeps restarting.

[2022-06-10 12:43] rvalle opened #229 "Automatic installation fails with space in MAUTIC_ADMIN_LASTNAME"
It seems that when using 2 word surnames with an space the autoinstall fails with:

[code]

[2022-06-10 12:44] rvalle commented on #229
not sure if it is worth fixing it, but it took me a while to figure out where the problem was...

[2022-06-17 02:49] kimtiago commented on #229
Me too... until I found this issue

[2022-06-17 13:35] rvalle commented on #229
@kimtiago I actually suspect there may be some kind of quoting to avoid the problem... but for now I have just avoided the problem.

[2022-06-29 13:53] kale1d0code opened #230 "CRON jobs added with MAUTIC_CRON_<INTEGRATION>=true create broken scheduled commands"
I noticed that I had cron jobs in my container attempting to run /var/www/html/app/console
this file doesn't exist at this location but can be found at /var/www/html/bin/console

I checked through the entrypoint script and it seems that all the additional integration cron tasks all point to the same location for the console

I am using mautic 4.4.0

[2022-07-01 19:32] sebastienhouzet opened #231 "Mautic Docker Doesn't support ARM64"
Hello

This version of Docker Image doesn't support ARM64 processor (Apple M1 or Rapsberry 4 64bits)

Error after docker is up :

`standard_init_linux.go:219: exec user process caused: exec format error`

This can happen if you're trying to run an x86 built image on an arm64/aarch64 machine.

Do you have planned to support ARM64 ?

Thx

[2022-07-20 18:31] DebbieGitty commented on #231
Also looking for an updated one

[2022-07-26 17:20] ivanmonteiro commented on #100
I also experienced very slow performance due to a slow disk on a Google Cloud free tier instance (e2-micro, 1gb ram).
The free tier offers only conventional hard disks with very limited performance.
I ended up mounting the cache folder with a tmpfs volume and it did improve performance a lot. The response times greatly reduced, and navigating the application seems much quicker. Navigating between

[2022-07-28 23:37] #27 closed

[2022-08-09 06:20] jensenhertz opened #232 "Both v3 and v4 images are not starting"
v3 fails with `[CRON] Could not open input file: /var/www/html/bin`

v4 fails with `Could not open input file: /var/www/html/bin/console`

Only thing that works is 2 years old v2.

I built the images from source also.

Please mark this repo deprecated since you are not keeping these updated.

[2022-08-09 10:12] RCheesley commented on #232
@luizeof @wget can you provide any input here please? Thanks!

[2022-08-28 11:41] jensenhertz commented on #232
I noticed there was an update to mautic:v4 like a week ago. Still fails with `Could not open input file: /var/www/html/bin/console` for me.

I assume there is some magic sauce involved to get these >v2 versions up and running, anyone know what it is?

[2022-08-28 12:29] luizeof commented on #232
@jensenhertz are you running mautic 4? Just updating the container does not update Mautic.

[2022-08-28 13:14] jensenhertz commented on #232
@luizeof Uf, amateur mistake: I took the previous docker-compose down without `-f`, so it didn't remove the volume.

I removed the volume and now it starts. Thanks!

[2022-08-28 13:14] #232 closed

[2022-09-07 20:54] rogerio-pereira opened #234 "Problem with last version 4"
Issue on mautic/mautic repository
https://github.com/mautic/mautic/issues/11446

Using Docker-compose
Image mautic/mautic:v4
The problem happens when running migrations:
1. with flag `MAUTIC_RUN_MIGRATIONS=true` on docker-compose
2. or without the flag when setting up database in mautic (first screen on web installer)

[code]

[2022-09-23 14:16] rogerio-pereira commented on #234
Closed, the problem was using an external Mysql (external to Docker Container).
Also Mysql version was 8, which seem to have an incompatibility with Mautic

[2022-09-23 14:16] #234 closed

[2022-09-25 21:25] cyberfab007 commented on #227
I can reproduce this,

MySQL Database Created
========================================================================
This server is now configured to run Mautic!
The following information will be prefilled into the installer (keep password field empty):
Host Name: mauticdb
Database Name: mautic
Database Username: root
Database Password: Wng@5hQKu%tw5T7vls
========================================

[2022-10-10 21:03] seljuck opened #235 "Docker image for 4.4 still using PHP 7.1 instead of PHP 8.0"
Is it possible to get the docker image updated to using PHP 8.0?

I think it will help ease the upgrade to Mautic 5.0 when it's released.

[2022-11-22 07:46] chendelin1982 commented on #112
It must MAUTIC_DB_USER=root, then it running ok